/**
 * Back office scss import
 */
/*green*/
/*orange*/
/*page background color*/
/*background color for boxes*/
.text-color-1 {
  color: #9ac00a; }

.text-color-2 {
  color: #dd5116; }

.text-color-3 {
  color: #E6397E; }

.valid {
  color: #81cd58; }
  .valid:hover {
    color: #50932c; }

.invalid {
  color: #e15f5f; }
  .invalid:hover {
    color: #b82222; }

.neutral {
  color: #403d40; }
  .neutral:hover {
    color: #0c0b0c; }

/************
 Mixin
************/
/************
 Use
************/
.box.arrow-top-left:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-top-left:after {
  border-width: 1rem;
  border-bottom-color: #f9d5c6;
  top: -2rem;
  left: 1rem; }

.box.arrow-top-right:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-top-right:after {
  border-width: 1rem;
  border-bottom-color: #dd5116;
  top: -2rem;
  right: 1rem; }

.box.arrow-top-center:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-top-center:after {
  border-width: 1rem;
  border-bottom-color: #dd5116;
  top: -2rem;
  right: 50%;
  margin-right: -1rem; }

.box.arrow-bottom-left:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-bottom-left:after {
  border-width: 1rem;
  border-top-color: #dd5116;
  bottom: -2rem;
  left: 1rem; }

.box.arrow-bottom-right:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-bottom-right:after {
  border-width: 1rem;
  border-top-color: #dd5116;
  bottom: -2rem;
  right: 1rem; }

.box.arrow-bottom-center:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-bottom-center:after {
  border-width: 6rem;
  border-top-color: #dd5116;
  bottom: -12rem;
  right: 50%;
  margin-right: -6rem; }

.box.arrow-left-top:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-left-top:after {
  border-width: 1rem;
  border-right-color: #dd5116;
  left: -2rem;
  top: 1rem; }

.box.arrow-left-center:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-left-center:after {
  border-width: 1rem;
  border-right-color: #dd5116;
  left: -2rem;
  top: 50%;
  margin-top: -1rem; }

.box.arrow-left-bottom:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-left-bottom:after {
  border-width: 1rem;
  border-right-color: #dd5116;
  left: -2rem;
  bottom: 1rem; }

.box.arrow-right-top:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-right-top:after {
  border-width: 1rem;
  border-left-color: #dd5116;
  right: -2rem;
  top: 1rem; }

.box.arrow-right-center:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-right-center:after {
  border-width: 8rem;
  border-left-color: #dd5116;
  right: -16rem;
  top: 50%;
  margin-top: -8rem; }

.box.arrow-right-bottom:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box.arrow-right-bottom:after {
  border-width: 1rem;
  border-left-color: #dd5116;
  right: -2rem;
  bottom: 1rem; }

.box-with-border.arrow-top-left:after, .box-with-border.arrow-top-left:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-top-left:after {
  border-width: 1rem;
  border-bottom-color: #fdf0eb;
  top: -2rem;
  left: 1rem; }

.box-with-border.arrow-top-left:before {
  border-width: 1.6rem;
  border-bottom-color: #dd5116;
  top: -3.2rem;
  left: 0.4rem; }

.box-with-border.arrow-top-right:after, .box-with-border.arrow-top-right:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-top-right:after {
  border-width: 1rem;
  border-bottom-color: #fdf0eb;
  top: -2rem;
  right: 1rem; }

.box-with-border.arrow-top-right:before {
  border-width: 1.6rem;
  border-bottom-color: #dd5116;
  top: -3.2rem;
  right: 0.4rem; }

.box-with-border.arrow-top-center:after, .box-with-border.arrow-top-center:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-top-center:after {
  border-width: 1rem;
  border-bottom-color: #fdf0eb;
  top: -2rem;
  right: 50%;
  margin-right: -1rem; }

.box-with-border.arrow-top-center:before {
  border-width: 1.6rem;
  border-bottom-color: #dd5116;
  top: -3.2rem;
  right: 50%;
  margin-right: -1.6rem; }

.box-with-border.arrow-bottom-left:after, .box-with-border.arrow-bottom-left:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-bottom-left:after {
  border-width: 1rem;
  border-top-color: #fdf0eb;
  bottom: -2rem;
  left: 1rem; }

.box-with-border.arrow-bottom-left:before {
  border-width: 1.6rem;
  border-top-color: #dd5116;
  bottom: -3.2rem;
  left: 0.4rem; }

.box-with-border.arrow-bottom-right:after, .box-with-border.arrow-bottom-right:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-bottom-right:after {
  border-width: 1rem;
  border-top-color: #fdf0eb;
  bottom: -2rem;
  right: 1rem; }

.box-with-border.arrow-bottom-right:before {
  border-width: 1.6rem;
  border-top-color: #dd5116;
  bottom: -3.2rem;
  right: 0.4rem; }

.box-with-border.arrow-bottom-center:after, .box-with-border.arrow-bottom-center:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-bottom-center:after {
  border-width: 7rem;
  border-top-color: #fdf0eb;
  bottom: -14rem;
  right: 50%;
  margin-right: -7rem; }

.box-with-border.arrow-bottom-center:before {
  border-width: 7.6rem;
  border-top-color: #dd5116;
  bottom: -15.2rem;
  right: 50%;
  margin-right: -7.6rem; }

.box-with-border.arrow-left-top:after, .box-with-border.arrow-left-top:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-left-top:after {
  border-width: 1rem;
  border-right-color: #fdf0eb;
  left: -2rem;
  top: 1rem; }

.box-with-border.arrow-left-top:before {
  border-width: 1.6rem;
  border-right-color: #dd5116;
  left: -3.2rem;
  top: 0.4rem; }

.box-with-border.arrow-left-center:after, .box-with-border.arrow-left-center:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-left-center:after {
  border-width: 1rem;
  border-right-color: #fdf0eb;
  left: -2rem;
  top: 50%;
  margin-top: -1rem; }

.box-with-border.arrow-left-center:before {
  border-width: 1.6rem;
  border-right-color: #dd5116;
  left: -3.2rem;
  top: 50%;
  margin-top: -1.6rem; }

.box-with-border.arrow-left-bottom:after, .box-with-border.arrow-left-bottom:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-left-bottom:after {
  border-width: 1rem;
  border-right-color: #fdf0eb;
  left: -2rem;
  bottom: 1rem; }

.box-with-border.arrow-left-bottom:before {
  border-width: 1.6rem;
  border-right-color: #dd5116;
  left: -3.2rem;
  bottom: 0.4rem; }

.box-with-border.arrow-right-top:after, .box-with-border.arrow-right-top:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-right-top:after {
  border-width: 7rem;
  border-left-color: #fdf0eb;
  right: -14rem;
  top: 7rem; }

.box-with-border.arrow-right-top:before {
  border-width: 7.6rem;
  border-left-color: #dd5116;
  right: -15.2rem;
  top: 6.4rem; }

.box-with-border.arrow-right-center:after, .box-with-border.arrow-right-center:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-right-center:after {
  border-width: 7rem;
  border-left-color: #fdf0eb;
  right: -14rem;
  top: 50%;
  margin-top: -7rem; }

.box-with-border.arrow-right-center:before {
  border-width: 7.6rem;
  border-left-color: #dd5116;
  right: -15.2rem;
  top: 50%;
  margin-top: -7.6rem; }

.box-with-border.arrow-right-bottom:after, .box-with-border.arrow-right-bottom:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  visibility: visible; }

.box-with-border.arrow-right-bottom:after {
  border-width: 1rem;
  border-left-color: #fdf0eb;
  right: -2rem;
  bottom: 1rem; }

.box-with-border.arrow-right-bottom:before {
  border-width: 1.6rem;
  border-left-color: #dd5116;
  right: -3.2rem;
  bottom: 0.4rem; }

@font-face {
  font-family: 'dinregular';
  src: url("../../assets/fonts/dinregular.eot");
  src: url("../../assets/fonts/dinregular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/dinregular.woff2") format("woff2"), url("../../assets/fonts/dinregular.woff") format("woff"), url("../../assets/fonts/dinregular.ttf") format("truetype"), url("../../assets/fonts/dinregular.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Style */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

main {
  min-height: 88%;
  margin-top: 15rem; }

#bo-main-content {
  margin-top: 0 !important;
  min-height: 100%; }

@media screen and (max-width: 1024px) {
  main {
    margin-top: 10rem; } }

/* Block page "validation register"*/
.validate {
  margin-top: 5em; }

.register-title {
  margin-top: 5em; }

.message-register {
  margin-top: 2em; }

header {
  padding-bottom: 0; }

footer {
  margin-top: 5rem !important; }

h1, h2 {
  color: #dd5116;
  font-family: dinregular, sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0; }

h3 {
  color: #dd5116;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: dinregular, sans-serif; }

/* Comment under parts */
p {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  color: #545454; }

.p2 {
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: justify;
  color: #545454; }

a, a:focus, a:hover, a:target {
  outline: none; }

/* Links Green */
.plus-info {
  color: #4c5f05;
  font-family: dinregular, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  bottom: 5px;
  position: absolute;
  right: 15%;
  left: 15%; }
  .plus-info:hover {
    color: #dd5116; }

.plus-info-2 {
  color: #8a8a8a;
  font-family: dinregular, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: all .2s ease-in-out; }

.plus-info-2:hover {
  color: #E6397E;
  text-decoration: none; }

.svg-button {
  width: 28rem;
  margin: 0 auto; }
  .svg-button p {
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    color: white; }

@media screen and (max-width: 420px) {
  .svg-button {
    width: 100%; } }

a {
  text-decoration: none !important; }

/**
 * Modal Parts
 */
.modal {
  border-radius: 1px; }

/**
 * Button small green - back office
 */
.btn-model-small {
  color: #fff !important;
  background-color: #9ac00a;
  border-radius: 0;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 1rem; }

.btn-model-small:hover {
  background-color: #dd5116; }

.be-flex {
  display: flex; }

.be-inline {
  display: inline-block; }

.space-between {
  justify-content: space-between; }

.mrg-top-1 {
  margin-top: 8rem; }

.be-strong {
  font-weight: 700; }

.no-padding {
  padding: 0 !important; }

.transition-2s-ease {
  transition: 2s ease; }

.transition-05s-ease {
  transition: 0.5s ease; }

.transition-1s-ease {
  transition: 1s ease; }

.strong-green {
  font-weight: 700;
  color: #9ac00a; }

#login, #password-reset, #password-process, #password-change, #registration {
  padding-top: 1rem;
  color: #545454;
  font-family: Arial, sans-serif;
  /* Set up width of form */
  /* Set up width of form */
  /* Set up style of checkbox */
  /* style of input fields */
  /* style of submit button*/ }
  #login .form-wrap, #password-reset .form-wrap, #password-process .form-wrap, #password-change .form-wrap, #registration .form-wrap {
    width: 40%;
    margin: 0 auto; }
  #login .form-comment-paragraph, #password-reset .form-comment-paragraph, #password-process .form-comment-paragraph, #password-change .form-comment-paragraph, #registration .form-comment-paragraph {
    text-align: center; }
  #login .form-group, #password-reset .form-group, #password-process .form-group, #password-change .form-group, #registration .form-group {
    margin-bottom: 2rem;
    font-size: 1.7rem; }
  #login .form-group:hover, #password-reset .form-group:hover, #password-process .form-group:hover, #password-change .form-group:hover, #registration .form-group:hover {
    color: #dd5116; }
  #login .checkbox, #password-reset .checkbox, #password-process .checkbox, #password-change .checkbox, #registration .checkbox {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #login .checkbox .login-checkbox, #password-reset .checkbox .login-checkbox, #password-process .checkbox .login-checkbox, #password-change .checkbox .login-checkbox, #registration .checkbox .login-checkbox {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      border-radius: 0 !important;
      border: 1px solid #ccc;
      vertical-align: middle;
      display: inline-block; }
    #login .checkbox .label, #password-reset .checkbox .label, #password-process .checkbox .label, #password-change .checkbox .label, #registration .checkbox .label {
      color: #6d6d6d;
      font-size: 1.5rem;
      font-weight: normal; }
    #login .checkbox label.checkbox-inline, #password-reset .checkbox label.checkbox-inline, #password-process .checkbox label.checkbox-inline, #password-change .checkbox label.checkbox-inline, #registration .checkbox label.checkbox-inline {
      font-size: 1rem; }
  #login .form-paragraph, #password-reset .form-paragraph, #password-process .form-paragraph, #password-change .form-paragraph, #registration .form-paragraph {
    color: #9ac00a;
    font-size: 2.3rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2rem; }
  #login .btn.btn-custom, #password-reset .btn.btn-custom, #password-process .btn.btn-custom, #password-change .btn.btn-custom, #registration .btn.btn-custom {
    margin-bottom: 2rem; }
  #login .form-control, #password-reset .form-control, #password-process .form-control, #password-change .form-control, #registration .form-control {
    color: #212121;
    border-radius: 0 !important;
    height: 4.6rem !important;
    line-height: 2rem;
    font-size: 1.7rem; }
  #login .btn-custom, #password-reset .btn-custom, #password-process .btn-custom, #password-change .btn-custom, #registration .btn-custom {
    color: #fff;
    background-color: #9ac00a; }
  #login .btn-custom:hover,
  #login .btn-custom:focus, #password-reset .btn-custom:hover,
  #password-reset .btn-custom:focus, #password-process .btn-custom:hover,
  #password-process .btn-custom:focus, #password-change .btn-custom:hover,
  #password-change .btn-custom:focus, #registration .btn-custom:hover,
  #registration .btn-custom:focus {
    color: #fff; }
  #login .form-submit-button, #password-reset .form-submit-button, #password-process .form-submit-button, #password-change .form-submit-button, #registration .form-submit-button {
    border-radius: 0;
    font-size: 1.9rem;
    font-weight: bold;
    height: 5rem;
    vertical-align: middle; }
  #login .form-submit-button:hover, #password-reset .form-submit-button:hover, #password-process .form-submit-button:hover, #password-change .form-submit-button:hover, #registration .form-submit-button:hover {
    background-color: #dd5116; }
  #login .forget-link, #password-reset .forget-link, #password-process .forget-link, #password-change .forget-link, #registration .forget-link {
    font-size: 1.8rem;
    color: #dd5116;
    text-align: center;
    display: block; }
  #login .forget-link:hover, #password-reset .forget-link:hover, #password-process .forget-link:hover, #password-change .forget-link:hover, #registration .forget-link:hover {
    color: #9ac00a; }
  @media screen and (max-width: 1024px) {
    #login .form-wrap, #password-reset .form-wrap, #password-process .form-wrap, #password-change .form-wrap, #registration .form-wrap {
      width: 60%; } }
  @media screen and (max-width: 768px) {
    #login #login, #login #password-reset, #login #password-process, #login #password-change, #login #registration, #password-reset #login, #password-reset #password-reset, #password-reset #password-process, #password-reset #password-change, #password-reset #registration, #password-process #login, #password-process #password-reset, #password-process #password-process, #password-process #password-change, #password-process #registration, #password-change #login, #password-change #password-reset, #password-change #password-process, #password-change #password-change, #password-change #registration, #registration #login, #registration #password-reset, #registration #password-process, #registration #password-change, #registration #registration {
      padding-top: 1rem; }
    #login .form-wrap, #password-reset .form-wrap, #password-process .form-wrap, #password-change .form-wrap, #registration .form-wrap {
      width: 80%; } }
  @media screen and (max-width: 440px) {
    #login #login, #login #password-reset, #login #password-process, #login #password-change, #login #registration, #password-reset #login, #password-reset #password-reset, #password-reset #password-process, #password-reset #password-change, #password-reset #registration, #password-process #login, #password-process #password-reset, #password-process #password-process, #password-process #password-change, #password-process #registration, #password-change #login, #password-change #password-reset, #password-change #password-process, #password-change #password-change, #password-change #registration, #registration #login, #registration #password-reset, #registration #password-process, #registration #password-change, #registration #registration {
      padding-top: 0; }
    #login .form-wrap, #password-reset .form-wrap, #password-process .form-wrap, #password-change .form-wrap, #registration .form-wrap {
      width: 100%; } }

.table-cell-action {
  display: flex;
  justify-content: space-between; }
  .table-cell-action a {
    padding: 0 0.5rem; }

.account-title {
  margin-top: 2.5rem;
  margin-bottom: 4.5rem; }

.account-button {
  margin-top: 2.5rem; }

.field {
  font-weight: bold; }

.info-user {
  border: 2px solid #dd5116; }

.simple-btn-2 {
  border: 3px solid #9ac00a;
  color: #9ac00a;
  font-weight: 700;
  display: block;
  text-align: center;
  transition: 0.3s ease-out;
  padding: 1.25rem 0; }

.title-account {
  margin-bottom: 5rem; }

.title-register {
  margin-bottom: 6rem; }

.bo-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border-bottom: 0.5px solid #cccccc;
  padding: 0.5rem 0;
  height: 5.2rem;
  margin-bottom: 3%;
  z-index: 1; }
  .bo-top-bar p {
    text-align: right;
    position: absolute;
    top: 1.5rem;
    right: 8rem; }
  .bo-top-bar .dropbtn {
    background-color: white;
    color: #9ac00a;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem; }
  .bo-top-bar .dropdown {
    position: relative;
    display: inline-block;
    float: right; }
  .bo-top-bar .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white !important;
    min-width: 16rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .bo-top-bar .dropdown-content a {
    color: #545454;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  .bo-top-bar .dropdown-content a:hover {
    background-color: #fdf0eb; }
    .bo-top-bar .dropdown-content a:hover i {
      color: #dd5116;
      font-weight: 600; }
  .bo-top-bar .dropdown:hover .dropdown-content {
    display: block; }
  .bo-top-bar .dropdown:hover .dropbtn {
    background: #ffffff;
    color: #dd5116; }

.navbar.navbar-default.inline-navbar.bo-header.visible-xs {
  background-color: white;
  width: 100%;
  /**
   * Drop-down Button
   */ }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs button.navbar-toggle {
    float: left !important;
    margin: 1rem; }
    .navbar.navbar-default.inline-navbar.bo-header.visible-xs button.navbar-toggle:hover, .navbar.navbar-default.inline-navbar.bo-header.visible-xs button.navbar-toggle:active, .navbar.navbar-default.inline-navbar.bo-header.visible-xs button.navbar-toggle:focus {
      background-color: #fdf0eb; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs .open .navbar-toggle::before {
    background-color: #fdf0eb; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs .dropdown-toggle:active, .navbar.navbar-default.inline-navbar.bo-header.visible-xs .open .dropdown-toggle {
    background-color: #fdf0eb !important; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs ul.nav.navbar-nav > li > a:hover {
    background-color: #fdf0eb; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs .inline-navbar {
    display: inline; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs i.fa.fa-user-circle.fa-2x {
    padding-top: 0.6rem; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs i.fa.fa-home.fa-2x {
    font-size: 3.5rem;
    padding: 0.8rem; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs button.navbar-toggle span {
    background-color: #9ac00a !important; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs .dropbtn {
    background-color: white;
    color: #9ac00a;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs .dropdown.visible-xs {
    position: relative;
    display: inline-block;
    float: right; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white !important;
    min-width: 16rem;
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs .dropdown-content a {
    color: #545454;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .navbar.navbar-default.inline-navbar.bo-header.visible-xs .dropdown-content a:hover {
      background-color: #fdf0eb; }
      .navbar.navbar-default.inline-navbar.bo-header.visible-xs .dropdown-content a:hover i {
        color: #dd5116;
        font-weight: 600; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs .dropdown:hover .dropdown-content {
    display: block; }
  .navbar.navbar-default.inline-navbar.bo-header.visible-xs .dropdown:hover .dropbtn {
    background: #ffffff;
    color: #dd5116; }

header nav.sidebar.navbar {
  background-color: #fff;
  border-radius: 0;
  position: static;
  top: 0;
  border-bottom: 2px solid #9ac00a; }

header nav.sidebar, .main {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out; }

.main {
  padding: 10px 10px 0 10px; }

.dropdown-toggle:active, .open .dropdown-toggle {
  background-color: #fdf0eb !important; }

ul.nav.navbar-nav > li > a:hover {
  background-color: #fdf0eb !important; }

@media (min-width: 768px) {
  header nav.sidebar.navbar {
    position: fixed; }
  .main {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right; }
  header nav.sidebar:hover + .main {
    margin-left: 200px; }
  header nav.sidebar.navbar.sidebar > .container .navbar-brand, header .navbar > .container-fluid .navbar-brand {
    margin-left: 0; }
  header nav.sidebar .navbar-brand, header nav.sidebar .navbar-header {
    text-align: center;
    width: 100%;
    margin-left: 0; }
  header nav.sidebar a {
    padding-right: 13px; }
  header nav.sidebar .navbar-nav > li:first-child {
    border-top: 1px #ccc solid; }
  header nav.sidebar .navbar-nav > li {
    border-bottom: 1px #ccc solid; }
  header nav.sidebar {
    border-right: 1px #ccc solid; }
  header nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  header nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
    padding: 0; }
  header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777; }
  header nav.sidebar {
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    z-index: 8000;
    margin-bottom: 0; }
  header nav.sidebar li {
    width: 100%; }
  header nav.sidebar:hover {
    margin-left: 0; }
  .forAnimate {
    opacity: 0; } }

@media (min-width: 1330px) {
  .main {
    width: calc(100% - 200px);
    margin-left: 200px; }
  header nav.sidebar {
    margin-left: 0px;
    float: left; }
  header nav.sidebar .forAnimate {
    opacity: 1; } }

header nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #CCC;
  background-color: transparent; }

header nav:hover .forAnimate {
  opacity: 1; }

section {
  padding-left: 15px; }

header button.navbar-toggle {
  color: #9ac00a;
  margin: 0.55rem 0.5rem 0 0; }

header .navbar-under-title {
  padding: 0 0 0 2rem;
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #394704; }

header .dropdown .dropdown-menu li a {
  color: #394704 !important; }
  header .dropdown .dropdown-menu li a:hover {
    color: #9ac00a !important; }

header .sidebar-logo {
  position: relative;
  top: -0.75rem;
  right: -1.5rem;
  width: 4rem;
  height: 4rem;
  padding: 0 0 0 0; }

footer {
  border-top: 1px solid #CCC;
  padding: 0;
  margin: 0; }
  footer .footer {
    padding: 3rem 0; }
    footer .footer .link-group {
      list-style-type: none;
      display: flex;
      margin: 0 auto;
      justify-content: center; }
      footer .footer .link-group li.divider-li {
        color: #9ac00a;
        font-size: 1.5rem;
        font-weight: 600; }
      footer .footer .link-group li {
        padding: 0.5rem 1rem; }
        footer .footer .link-group li a {
          font-size: 1.5rem;
          font-weight: 600; }

#bo-main-content {
  padding-top: 6rem !important; }

.bo-title-page h2 {
  padding: 2rem 0; }

.bo-title-page h3 {
  padding: 1rem 0; }

a {
  color: #9ac00a;
  transition: 0.4s ease; }
  a:hover {
    color: #4c5f05; }
  a:focus {
    color: #4c5f05; }

/**
 * Loader Parts
 */
.loader-wcs {
  padding: 2rem 0; }
  .loader-wcs .loader {
    position: absolute;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px; }
  .loader-wcs .inner {
    position: absolute;
    border-radius: 50%;
    border: 8px solid transparent;
    box-sizing: border-box;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .loader-wcs .inner.one {
    border-left: 8px solid #9ac00a;
    border-right: 8px solid #9ac00a;
    animation: rotate-left 2s linear infinite; }
  .loader-wcs .inner.two {
    border-top: 8px solid #dd5116;
    border-bottom: 8px solid #dd5116;
    animation: rotate-left 3s linear infinite; }

@keyframes rotate-left {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

/**
 * Error message
 */
.error-box p {
  display: block;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  transition: 1s ease;
  padding: 2rem; }

.error-box .error-msg {
  background-color: #dd5116; }

.error-box .valid-message {
  background-color: #9ac00a; }

/**
 * Pagination
 */
.pagination {
  /**
   * Bootstrap rewrite
   */ }
  .pagination li .current-page {
    background-color: #fce6dd;
    font-weight: 700; }
  .pagination li a {
    color: #dd5116;
    transition: 0.4s ease; }
    .pagination li a:hover {
      background-color: #fce6dd;
      color: #af4011; }
  .pagination .pagination > li:first-child > a, .pagination .pagination > li:first-child > span {
    border-radius: 0 !important; }
  .pagination .pagination > li:last-child > a, .pagination .pagination > li:last-child > span {
    border-radius: 0 !important; }

/**
 * Buttons
 */
.buttons-content .dropdown-menu {
  padding: 0; }
  .buttons-content .dropdown-menu li a {
    color: #9ac00a;
    font-weight: 700;
    text-align: center;
    padding: 1.4rem 1.8rem; }
    .buttons-content .dropdown-menu li a:hover {
      background-color: #9ac00a;
      color: #fff; }

.buttons-block {
  margin: 0 0 2rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between; }

.simple-btn-1 {
  border: 2px solid #9ac00a;
  color: #9ac00a;
  font-weight: 700;
  display: block;
  text-align: center;
  transition: 0.3s ease-out;
  padding: 1.25rem 0;
  width: 18rem; }
  .simple-btn-1:hover {
    background-color: #9ac00a;
    color: #fff; }

/**
 * Admin
 */
.admin-actions {
  border: 1px solid #1b1a1b;
  border-radius: 3px;
  background-color: #ebe5ed;
  display: flex;
  flex-direction: column;
  padding: 1rem 0; }
  .admin-actions .link-action {
    display: block;
    width: 100%;
    font-weight: 700; }

/**
 * Jquery Text Editor
 */
.jqte_editor {
  height: 60rem; }

.jqte_tool_label {
  height: 2rem !important;
  display: block; }

.jqte_tool_text {
  display: block; }

header {
  margin-bottom: 0 !important; }
  header a {
    color: #739007; }

header nav.sidebar.navbar {
  background-color: #fff;
  border-radius: 0;
  position: static;
  top: 0;
  border-bottom: 2px solid #9ac00a; }

header nav.sidebar, .main {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out; }

.main {
  padding: 10px 0 0 0; }

@media (min-width: 768px) {
  header nav.sidebar.navbar {
    position: fixed; }
  .main {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right; }
  header nav.sidebar:hover + .main {
    margin-left: 200px; }
  header nav.sidebar.navbar.sidebar > .container .navbar-brand, header .navbar > .container-fluid .navbar-brand {
    margin-left: 0; }
  header nav.sidebar .navbar-brand, header nav.sidebar .navbar-header {
    text-align: center;
    width: 100%;
    margin-left: 0; }
  header nav.sidebar a {
    padding-right: 13px; }
  header nav.sidebar .navbar-nav > li:first-child {
    border-top: 1px #ccc solid; }
  header nav.sidebar .navbar-nav > li {
    border-bottom: 1px #ccc solid; }
  header nav.sidebar {
    border-right: 1px #ccc solid; }
  header nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  header nav.sidebar .navbar-collapse, nav.sidebar .container-fluid {
    padding: 0; }
  header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #777; }
  header nav.sidebar {
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    z-index: 8000;
    margin-bottom: 0; }
  header nav.sidebar li {
    width: 100%; }
  header nav.sidebar:hover {
    margin-left: 0; }
  .forAnimate {
    opacity: 0; } }

@media (min-width: 1330px) {
  .main {
    width: calc(100% - 200px);
    margin-left: 200px; }
  header nav.sidebar {
    margin-left: 0px;
    float: left; }
  header nav.sidebar .forAnimate {
    opacity: 1; } }

header nav.sidebar .navbar-nav .open .dropdown-menu > li > a:hover, nav.sidebar .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #CCC;
  background-color: transparent; }

header nav:hover .forAnimate {
  opacity: 1; }

section {
  padding-left: 15px; }

header button.navbar-toggle {
  color: #9ac00a;
  margin: 0.55rem 0.5rem 0 0; }

header .navbar-under-title {
  padding: 0 0 0 2rem;
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #394704; }

header .dropdown .dropdown-menu li a {
  color: #394704 !important; }
  header .dropdown .dropdown-menu li a:hover {
    color: #9ac00a !important; }

header .sidebar-logo {
  position: relative;
  top: -0.75rem;
  right: -1.5rem;
  width: 4rem;
  height: 4rem;
  padding: 0 0 0 0; }

.dashboard .dashbord-block {
  margin: 4rem 0;
  padding: 0 0 2rem 0;
  border: 1px solid #ccc; }
  .dashboard .dashbord-block .news-list-element {
    padding: 1rem 0; }
    .dashboard .dashbord-block .news-list-element .top-element {
      text-align: center; }
      .dashboard .dashbord-block .news-list-element .top-element .title-news {
        color: #394704 !important;
        word-break: keep-all; }
        .dashboard .dashbord-block .news-list-element .top-element .title-news .new-date {
          font-style: italic;
          font-weight: 100;
          font-size: 1.45rem; }

.news-unit {
  padding: 1rem; }
  .news-unit .link-group {
    display: flex;
    justify-content: space-between; }
  .news-unit * {
    word-break: break-all; }
  .news-unit .news-information {
    font-weight: 700;
    font-size: 1.5rem; }
  .news-unit table th {
    text-align: center; }
  .news-unit .article {
    border: 2px solid #ccc;
    padding: 2rem; }

.dictionarys-list {
  display: flex; }

.dictionary-list {
  border: 1px solid #9ac00a;
  margin: 2rem 0;
  padding: 0 2rem 2rem 2rem; }
  .dictionary-list .list-group-item {
    border-radius: 2px;
    transition: 1s ease;
    display: block;
    padding: 1.2rem; }
    .dictionary-list .list-group-item .badge {
      background-color: transparent;
      border-radius: 2px;
      position: relative;
      bottom: 5px; }
      .dictionary-list .list-group-item .badge a {
        color: #444444;
        margin: 0 0.33rem; }
        .dictionary-list .list-group-item .badge a i {
          transition: 0.2s ease; }
        .dictionary-list .list-group-item .badge a:hover > i {
          color: #dd5116; }
    .dictionary-list .list-group-item .modal-delete {
      color: #ff4f59 !important; }
      .dictionary-list .list-group-item .modal-delete:hover > i {
        color: #cf000c !important;
        transform: rotate(90deg); }
    .dictionary-list .list-group-item .modal-update {
      color: #454245 !important; }
      .dictionary-list .list-group-item .modal-update i {
        transition: 0.3s ease-in-out; }
      .dictionary-list .list-group-item .modal-update:hover > i {
        color: #040404 !important;
        transform: rotate(90deg); }
  .dictionary-list a {
    color: #fff; }

.msg-return {
  display: block !important;
  background-color: #dd5116 !important;
  border-radius: 2px;
  color: #fff;
  transition: 1s ease;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%; }

.form-control {
  border-radius: 0;
  font-weight: 700; }

button[type='submit'] {
  border-radius: 0;
  font-weight: 700;
  font-size: 1.5rem; }

.ticket-filter-block {
  border: solid #dd5116 0.1rem;
  padding: 2rem 0 1rem 0;
  margin: 2rem 0 5rem 0; }

.ticket-filter-field div {
  padding-bottom: 2rem; }

.ticket-table-block {
  border: solid #9ac00a 0.1rem;
  padding: 0; }

.ticket-edit-margin {
  margin-top: 2rem; }

.no-margin-no-padding {
  margin: 0;
  padding: 0; }

.ticket-title {
  padding-bottom: 2rem; }

.ticket-subject {
  text-align: justify;
  font-size: 1.6rem;
  font-weight: bold; }
  .ticket-subject a {
    color: #739007; }
    .ticket-subject a:hover {
      color: #dd5116; }

.btn-back {
  background-color: grey;
  color: white;
  border-radius: 0;
  font-weight: bold;
  vertical-align: middle; }
  .btn-back:hover {
    background-color: #b3b3b3; }

.comment-border {
  border-top: solid #9ac00a 0.1rem;
  margin-top: 2rem; }

.comment-unit {
  border: 0.1rem solid #9ac00a;
  border-radius: 0;
  margin: 2rem 0;
  padding: 1rem; }

.comment-content1 {
  font-size: 1.6rem;
  font-weight: bold; }

.comment-content2 {
  border: 0.1rem solid lightgrey; }

.ui-datepicker-title {
  background-color: #f09169;
  font-weight: bold;
  text-align: center; }

.ui-datepicker-week-end {
  background-color: #f09169;
  font-weight: bold;
  text-align: center; }

.ui-datepicker-calendar {
  background-color: #f09169;
  font-weight: bold;
  text-align: center;
  color: #545454; }
  .ui-datepicker-calendar th {
    padding: 0.3rem; }

.ui-state-default {
  color: black; }

.ui-datepicker-header {
  background-color: #f09169;
  text-align: center; }

.ui-corner-all {
  color: black;
  font-weight: bold; }

.ui-state-default {
  padding: 0.3rem; }

/**
 * Evolutions Parts
 */
.list-evolution .bo-evolution {
  border: 1px solid #9ac00a;
  margin: 1rem 0.5rem;
  padding: 2rem;
  width: 100%;
  float: left; }
  .list-evolution .bo-evolution a {
    color: #9ac00a;
    transition: 0.4s ease; }
    .list-evolution .bo-evolution a:hover {
      color: #739007; }
  .list-evolution .bo-evolution .bo-top-evolution {
    justify-content: space-between; }
    .list-evolution .bo-evolution .bo-top-evolution .evolution-notes {
      padding: 1rem 0 0 0; }
      .list-evolution .bo-evolution .bo-top-evolution .evolution-notes .avg-note {
        font-size: 3rem;
        font-weight: 700;
        color: #9ac00a;
        padding: 0;
        line-height: 0.6rem; }
      .list-evolution .bo-evolution .bo-top-evolution .evolution-notes .nb-notes {
        display: block;
        width: 7rem; }
        .list-evolution .bo-evolution .bo-top-evolution .evolution-notes .nb-notes span {
          font-weight: 700;
          color: #dd5116; }
    .list-evolution .bo-evolution .bo-top-evolution .evolution-titles {
      text-align: right; }
      .list-evolution .bo-evolution .bo-top-evolution .evolution-titles h2 {
        display: block;
        font-size: 1.75rem;
        padding: 1rem;
        overflow: hidden;
        text-align: right; }
  .list-evolution .bo-evolution .bo-bottom-evolution {
    display: flex;
    justify-content: space-between; }
  .list-evolution .bo-evolution .label-evo {
    font-weight: 700; }

/**
 * Unit evolution part
 */
.unit-evolution {
  border: 1px solid #9ac00a;
  padding: 2rem 0; }
  .unit-evolution .evolution-sum-up {
    padding: 1rem 0; }
  .unit-evolution .evo-cols {
    padding: 0; }
    .unit-evolution .evo-cols .evo-list-infos {
      list-style-type: none; }
      .unit-evolution .evo-cols .evo-list-infos .info-evo {
        display: inline-block; }
    .unit-evolution .evo-cols .evolution-content-block .evolution-content {
      word-break: break-all; }
  .unit-evolution .evo-label {
    display: inline-block;
    font-weight: 700;
    width: 22rem; }
  .unit-evolution .evolution-sum-up {
    text-align: center; }

.delete-value {
  color: #dd5116;
  font-weight: 700; }

/**
 * Comments Parts
 */
.add-new-comment {
  border: 0.1rem solid #dd5116;
  border-radius: 0;
  margin: 2rem 0;
  padding: 1rem 2rem 0 2rem; }

.comment-list .unit-comment {
  border: 0.1rem solid #9ac00a;
  border-radius: 0;
  margin: 2rem 0;
  padding: 1rem; }
  .comment-list .unit-comment .comment-value {
    padding: 1rem; }

/**
 * Evolutions Parts - VOTING
 */
.note-evolution .bo-evolution {
  border: 1px solid #dd5116;
  border-radius: 1px;
  margin: 2rem 0;
  padding: 1rem 2rem 0 2rem;
  width: 100%;
  /****** Counter *******/ }
  .note-evolution .bo-evolution .controls.rating, .note-evolution .bo-evolution .rating-counter, .note-evolution .bo-evolution .remarque-small {
    margin-left: 7rem; }
  .note-evolution .bo-evolution .rating-counter {
    padding: 0 0 0 0; }
    .note-evolution .bo-evolution .rating-counter .rating-counter-value {
      font-size: 2rem;
      font-weight: 700; }
  .note-evolution .bo-evolution .remarque-small {
    font-size: 1.5rem; }
  .note-evolution .bo-evolution .bo-top-evolution {
    justify-content: space-between;
    align-items: stretch; }
    .note-evolution .bo-evolution .bo-top-evolution .evolution-notes {
      padding: 1rem 0 0 0; }
      .note-evolution .bo-evolution .bo-top-evolution .evolution-notes .avg-note {
        font-size: 3rem;
        font-weight: 700;
        color: #9ac00a;
        line-height: 0.6rem; }
      .note-evolution .bo-evolution .bo-top-evolution .evolution-notes .nb-notes {
        display: block;
        width: 7rem; }
        .note-evolution .bo-evolution .bo-top-evolution .evolution-notes .nb-notes span {
          font-weight: 700;
          color: #dd5116; }
    .note-evolution .bo-evolution .bo-top-evolution .evolution-note-titles h2.vote-title > span {
      font-weight: 900;
      font-size: 2rem;
      color: #545454; }
    .note-evolution .bo-evolution .bo-top-evolution .evolution-note-titles h2 {
      display: block;
      font-size: 1.75rem;
      padding: 1rem;
      overflow: hidden;
      text-align: right; }

/**
 * Star rating system
 */
.starRating input {
  display: none; }

.starRating label {
  width: 1.8rem;
  height: 1.6rem;
  display: inline-block;
  text-indent: -999.9rem;
  /* hide the label text off screen */
  background: url("../img/rating_stars.png") -15.5rem -3.2rem; }

.starRating label.on {
  background-position: -15.5rem -7.6rem; }

/****** Hide radio buttons *******/
label.label-star-link {
  color: white; }
  label.label-star-link input[type='radio'],
  label.label-star-link input[type='radio']:after,
  label.label-star-link input[type='radio']:checked:after {
    visibility: hidden; }

.downloads .download-category .download-category-table {
  height: 50rem;
  overflow: auto; }
  .downloads .download-category .download-category-table .table {
    height: 5rem;
    max-height: 5rem;
    overflow: auto;
    width: 100%; }

.downloads .download-category h4 {
  font-size: 2.5rem;
  text-align: center;
  padding: 0.5rem 1rem; }
