/*green*/
/*orange*/
/*page background color*/
/*background color for boxes*/
.form-all {
  margin-top: 4rem;
  padding-top: 4rem;
  color: #545454;
  min-height: 100%;
  font-family: Arial, sans-serif; }
