.bo-title-page {
  h2 {
    padding: 2rem 0;
  }
  h3 {
    padding: 1rem 0;
  }
}
// TODO => General link ???
a {
  color: $secondary-color;
  transition: 0.4s ease;
  &:hover {
    color: $primary-color;
  }
  &:focus {
    color: darken($primary-color, 20%);
  }
}

/**
 * Loader Parts
 */
.loader-wcs {
  padding: 2rem 0;

  .loader {
    position: absolute;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
  }

  .inner {
    position: absolute;
    border-radius: 50%;
    border: 8px solid transparent;
    box-sizing: border-box;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .inner.one {
    border-left: 8px solid $primary-color;
    border-right: 8px solid $primary-color;
    animation: rotate-left 2s linear infinite;
  }

  .inner.two {
    border-top: 8px solid $secondary-color;
    border-bottom: 8px solid $secondary-color;
    animation: rotate-left 3s linear infinite;
  }

  @keyframes rotate-left {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

/**
 * Error message
 */
.error-box {

  p {
    display: block;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    transition: 1s ease;
    padding: 2rem;
  }

  .error-msg {
    background-color: $secondary-color;
  }

  .valid-message {
    background-color: $primary-color;
  }

}

/**
 * Pagination
 */
.pagination {

    .current-page {
      background-color: lighten($secondary-color, 45%);
      font-weight: 700;
    }

    a {
      color: $secondary-color;
      transition: 0.4s ease;

      &:hover {
        background-color: lighten($secondary-color, 45%);
        color: darken($secondary-color, 10%);
      }
    }



  /**
   * Bootstrap rewrite
   */
  .pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 0!important;
  }

  .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0!important;
  }
}

/**
 * Buttons
 */
.buttons-block {
  margin: 0 0 2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  .btn-group-right {
    display: flex;
    flex-wrap: wrap;
  }
}
.simple-btn-1 {
  color: $secondary-color;
  font-weight: 700;
  display: inline-block;
  border: 1px solid $primary-color;
  border-radius: 0!important;
  transition: 0.4s ease;
  padding: 1rem;
  margin: 0 0.5rem;
  width: 24rem;
  text-align: center;

  &:hover {
    color: #fff;
    background-color: desaturate(lighten($primary-color, 20%), 40%);
    border: 1px solid lighten($primary-color, 10%);
    box-shadow: 1px lighten($primary-color, 10%);
  }
}