.dictionarys-list {
  display: flex;
}
.dictionary-list {
  border: 1px solid $primary-color;
  margin: 2rem 0;
  padding: 0 2rem 2rem 2rem;

  .list-group-item {
    border-radius: 2px;
    transition: 1s ease;
    display: block;
    padding: 1.2rem;

    .badge {
      background-color: transparent;
      border-radius: 2px;
      position: relative;
      bottom: 5px;

      a {
        color: #444444;
        margin: 0 0.33rem;
        i {
          transition: 0.2s ease;
        }
        &:hover > i {
          color: $secondary-color;
        }
      }
    }

    .modal-delete {
      color: #ff4f59!important;

      &:hover > i {
        color: darken(#ff4f59, 25%)!important;
        transform: rotate(90deg);
      }
    }
    .modal-update {
      color: #454245!important;

      i { transition: 0.3s ease-in-out; }

      &:hover > i{
        color: darken(#454245, 25%)!important;
        transform: rotate(90deg);
      }
    }

  }

  a {
    color: #fff;
  }
}

.msg-return {
  display: block !important;
  background-color: $secondary-color !important;
  border-radius: 2px;
  color: #fff;
  transition: 1s ease;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

// TODO => Here get a input example ???
.form-control {
  border-radius: 0;
  font-weight: 700;
}
button[type='submit'] {
  border-radius: 0;
  font-weight: 700;
  font-size: 1.5rem;
}
