.ticket-filter-block {
  border: solid $secondary-color 0.1rem;
  padding: 2rem 0 1rem 0;
  margin: 2rem 0 5rem 0;
}

.ticket-table-block {
  border: solid $primary-color 0.1rem;
  padding: 0;
}

.ticket-edit-margin{
  margin-top: 2rem;
}

.no-margin-no-padding {
  margin: 0;
  padding: 0;
}

.ticket-title {
  padding-bottom: 2rem;
}

.ticket-subject {
  text-align: justify;
  font-size: 1.6rem;
  font-weight: bold;
  a {
    color: darken($primary-color, 10%);
    &:hover {
      color: $secondary-color;
    }
  }
}

.btn-back {
  background-color: grey;
  color: white;
  border-radius: 0;
  font-weight: bold;
  vertical-align: middle;
  &:hover {
    background-color: lighten(grey, 20%);
  }
}

.comment-border {
  border-top: solid $primary-color 0.1rem;
  margin-top: 2rem;
}

.comment-unit {
  border: 0.1rem solid $primary-color;
  border-radius: 0;
  margin: 2rem 0;
  padding: 1rem;
}

.comment-content1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.comment-content2 {
  border: 0.1rem solid lightgrey;
}

.ui-datepicker-title {
  background-color: red;
  font-weight: bold;
}





