.bo-title-page {
  h2 {
    padding: 2rem 0;
  }
  h3 {
    padding: 1rem 0;
  }
}

a {
  color: $primary-color;
  transition: 0.4s ease;
  &:hover {
    color: darken($primary-color, 20%);
  }
  &:focus {
    color: darken($primary-color, 20%);
  }
}

/**
 * Loader Parts
 */
.loader-wcs {
  padding: 2rem 0;

  .loader {
    position: absolute;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
  }

  .inner {
    position: absolute;
    border-radius: 50%;
    border: 8px solid transparent;
    box-sizing: border-box;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .inner.one {
    border-left: 8px solid $primary-color;
    border-right: 8px solid $primary-color;
    animation: rotate-left 2s linear infinite;
  }

  .inner.two {
    border-top: 8px solid $secondary-color;
    border-bottom: 8px solid $secondary-color;
    animation: rotate-left 3s linear infinite;
  }

  @keyframes rotate-left {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

/**
 * Error message
 */
.error-box {

  p {
    display: block;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    transition: 1s ease;
    padding: 2rem;
  }

  .error-msg {
    background-color: $secondary-color;
  }

  .valid-message {
    background-color: $primary-color;
  }

}

/**
 * Pagination
 */
.pagination {
  li {
    .current-page {
      background-color: lighten($secondary-color, 45%);
      font-weight: 700;
    }

    a {
      color: $secondary-color;
      transition: 0.4s ease;

      &:hover {
        background-color: lighten($secondary-color, 45%);
        color: darken($secondary-color, 10%);
      }
    }
  }

  /**
   * Bootstrap rewrite
   */
  .pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 0!important;
  }

  .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0!important;
  }
}

/**
 * Buttons
 */
.buttons-content {
  .dropdown-menu {
    padding: 0;

    li a {
      color: $primary-color;
      font-weight: 700;
      text-align: center;
      padding: 1.4rem 1.8rem;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}
.buttons-block {
  margin: 0 0 2rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.simple-btn-1 {
  border: 2px solid $primary-color;
  color: $primary-color;
  font-weight: 700;
  display: block;
  text-align: center;
  transition: 0.3s ease-out;
  padding: 1.25rem 0;
  width: 18rem;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}
/**
 * Admin
 */
.admin-actions {
  border: 1px solid #1b1a1b;
  border-radius: 3px;
  background-color: #ebe5ed;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  .link-action {
    display: block;
    width: 100%;
    font-weight: 700;
  }
}

/**
 * Jquery Text Editor
 */
.jqte_editor {
  height: 60rem;
}
.jqte_tool_label {
  height: 2rem!important;
  display: block;
}
.jqte_tool_text {
  display: block;
}
