$border: 1px solid #ccc;

.dashboard {
  padding: 0 2rem;

  .dashbord-block {
    border: $border;
    margin: 3rem 0;

    .news-list-element {
      border-top: $border;
      padding: 0.25rem;

      .top-element {
        display: flex;
        justify-content: space-between;

        .title-news {
          color: darken($primary-color, 25%)!important;
        }
      }
    }
  }
}