.account-title {
  margin-top: 2.5rem;
  margin-bottom: 4.5rem;
}

.account-button{
  margin-top: 2.5rem;
}

.field{
  font-weight: bold;
}

.info-user{
  border: 2px solid $secondary-color;
}

.simple-btn-2 {
  border: 3px solid $primary-color;
  color: $primary-color;
  font-weight: 700;
  display: block;
  text-align: center;
  transition: 0.3s ease-out;
  padding: 1.25rem 0;

}

.title-account{
  margin-bottom: 5rem;
}
.title-register{
  margin-bottom: 6rem;

}

  .notice-field {
    color: red !important;
  }

  .notice-field-2 {
    color: red !important;
  }