@font-face {
  font-family: 'dinregular';
    src: url('../fonts/dinregular.eot');
    src: url('../fonts/dinregular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/dinregular.woff2') format('woff2'),
      url('../fonts/dinregular.woff') format('woff'),
      url('../fonts/dinregular.ttf') format('truetype'),
      url('../fonts/dinregular.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Style */
html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
}
main {
  min-height: 88%;
}

/* Block page "validation register"*/
.validate{
  margin-top: 15em;

}

.validation-user{

}


.register-title{
  margin-top: 5em;
}

.message-register{
  margin-top: 5em;
}

header {
  margin-bottom: 12rem;
  padding-bottom: 0;
}
footer {
  margin-top: 5rem!important;
}
h1, h2 {
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
h3 {
  color: $secondary-color;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase ;
  text-align: center;
  font-family: $primary-font;
  //margin: 0;
}
/* Comment under parts */
p {
  font-size : 1.6rem;
  font-family: $secondary-font;
  color: $paragraph-color;
}
.p2 {
  font-size: 1.2rem;
  font-family: $secondary-font;
  font-weight: bold;
  text-align: justify;
  color: $paragraph-color;
}
a, a:focus, a:hover, a:target {
  outline: none;
}

/* Links Green */
.plus-info {
  @include itBoldLink(darken($primary-color, 20%), 1.4rem);
  bottom: 5px;
  position: absolute;
  right: 15%;
  left: 15%;

  &:hover{
    color: $secondary-color;
  }
}

.plus-info-2 {
  @include itBoldLink($it-second-color, 1.8rem);
  transition: all .2s ease-in-out;
}
.plus-info-2:hover {
  color: $it-color;
  text-decoration: none;
}

.svg-button{
  width: 28rem;
  margin: 0 auto;
  p{
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    color:white;
  }
}

@media screen and (max-width: 420px) {
  .svg-button{
    width: 100%;
  }
}

a {
  text-decoration: none!important;
}


/**
 * Modal Parts
 */
.modal {
  border-radius: 1px;
}

.btn-model-small {
  color: #fff !important;
  background-color: $primary-color;
  border-radius: 0;
  font-weight: bold;
  vertical-align: middle;
}
.btn-model-small:hover {
  background-color: $secondary-color;
}