{% macro dictionaryForm(formId) %}
    <form method="post" id="dictionary_form_{{ formId }}">
        <div class="form-group">
            <input type="text" id="type_{{ formId }}" name="_value" class="form-control required" required="required">
        </div>
    </form>
{% endmacro %}