{% macro getNews(title, news) %}
    <div class="dashbord-list">
        <h3>{{ title }} :</h3>
        {% for new in news %}
            <div class="news-list-element">
                <div class="top-element">
                    <p class="title-news"><a href="{{ path('newsUserUnit', {'new': new.id}) }}">{{ new.title }}</a></p>
                    <p>Le {{ new.creationDate|date('d/m/Y') }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}