{% macro svgButton(color, text) %}
    <div class="svg-button">
        <svg version="1.1" viewBox="0.0 0.0 280.0 60.0" fill="none" stroke="none" stroke-linecap="square" stroke-miterlimit="10"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g clip-path="url(#p.0)">
                <path fill="{{ color }}" d="m280.0 0.31233597l0 49.579853l-9.916199 9.91621l-270.0838 0l0 0l0 -49.579853l9.916209 -9.916209l270.0838 0z" fill-rule="evenodd"></path>
            </g>
            <foreignObject x="0" y="20" width="280" height="20">
                <p>
                    {{ text }}
                </p>
            </foreignObject>
        </svg>
    </div>
{% endmacro %}


<svg version="1.1" viewBox="0.0 0.0 280.0 60.0" fill="none" stroke="none" stroke-linecap="square" stroke-miterlimit="10"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g clip-path="url(#p.0)">
        <path fill="#cfe2f3" d="m280.0 0.31233597l0 49.579853l-9.916199 9.91621l-270.0838 0l0 0l0 -49.579853l9.916209 -9.916209l270.0838 0z" fill-rule="evenodd"></path>
        </g>
</svg>




