@mixin itBoldLink($color, $size){
  color: $color;
  font-family: $primary-font;
  font-weight: 700;
  font-size: $size;
  text-transform: uppercase;
}

/************
 Mixin
************/
@mixin arrow_helper($arrowSize, $arrowColor, $margin, $side, $align) {
  @if $side == "top" {
    border-bottom-color: $arrowColor;
    top: -2 * $arrowSize;
  }
  @if $side == "bottom" {
    border-top-color: $arrowColor;
    bottom: -2 * $arrowSize;
  }
  @if $side == "left" {
    border-right-color: $arrowColor;
    left: -2 * $arrowSize;
  }
  @if $side == "right" {
    border-left-color: $arrowColor;
    right: -2 * $arrowSize;
  }
  @if $side == "right" or $side == "left" {
    @if $align == "center" {
      top: 50%;
      margin-top: -$arrowSize;
    }
    @else if $align == "top" {
      top: $margin;
    }
    @else if $align == "bottom" {
      bottom: $margin;
    }
  }
  @if $side == "bottom" or $side == "top" {
    @if $align == "center" {
      right: 50%;
      margin-right: -$arrowSize;
    }
    @else if $align == "left" {
      left: $margin;
    }
    @else if $align == "right" {
      right: $margin;
    }
  }
}

@mixin arrow($side: "right", $align: "center", $size: 2rem, $color: $background-color1, $borderColor: "none", $borderSize: 0.3rem) {
  $selector: "&:after, &:before";
  @if $borderColor == "none" {
    $selector: "&:after";
  }
  #{$selector} {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    visibility: visible;
  }

  &:after {
    border-width: $size;
    @include arrow_helper($size, $color, $size, $side, $align);
  }

  @if $borderColor != "none" {
    &:before {
      border-width: $borderSize + $size;
      @include arrow_helper($size + $borderSize, $borderColor, $size - $borderSize, $side, $align);
    }
  }
}
/************
 Use
************/
.box {
  &.arrow-top-left {@include arrow('top','left', 1rem, $secondary-color)}
  &.arrow-top-right {@include arrow('top','right', 1rem, $secondary-color)}
  &.arrow-top-center {@include arrow('top','center', 1rem, $secondary-color)}
  &.arrow-bottom-left {@include arrow('bottom','left', 1rem, $secondary-color)}
  &.arrow-bottom-right {@include arrow('bottom','right', 1rem, $secondary-color)}
  &.arrow-bottom-center {@include arrow('bottom','center', 6rem, $secondary-color)}
  &.arrow-left-top {@include arrow('left','top', 1rem, $secondary-color)}
  &.arrow-left-center {@include arrow('left','center', 1rem, $secondary-color)}
  &.arrow-left-bottom {@include arrow('left','bottom', 1rem, $secondary-color)}
  &.arrow-right-top {@include arrow('right','top', 1rem, $secondary-color)}
  &.arrow-right-center {@include arrow('right','center', 8rem, $secondary-color)}
  &.arrow-right-bottom {@include arrow('right','bottom', 1rem, $secondary-color)}
}

.box-with-border {
  &.arrow-top-left {@include arrow('top','left', 1rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-top-right {@include arrow('top','right', 1rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-top-center {@include arrow('top','center', 1rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-bottom-left {@include arrow('bottom','left', 1rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-bottom-right {@include arrow('bottom','right', 1rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-bottom-center {@include arrow('bottom','center', 7rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-left-top {@include arrow('left','top', 1rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-left-center {@include arrow('left','center', 1rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-left-bottom {@include arrow('left','bottom', 1rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-right-top {@include arrow('right','top', 7rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-right-center {@include arrow('right','center', 7rem, $background-color1, $secondary-color, 0.6rem)}
  &.arrow-right-bottom {@include arrow('right','bottom', 1rem, $background-color1, $secondary-color, 0.6rem)}
}
