#index-itneo {
  margin: 2% 0;

  .it-logo {
    width: 70%;
    max-width: 345px;
    height: auto;
    display: block;
    margin: 8rem auto;
  }

  .itneo-top-case {
    width: 100%;
    text-align: center;
    margin: 5rem 0;

    .it-h2 {
      font-family: Arial, sans-serif;
      font-size: 3.5em;
      font-weight: 700;
      color: $secondary-color;
      text-transform: uppercase;
    }
  }
}
.it-ul-box-1 {
  padding: 7% 0;

  .it-first-list {
    list-style-type: none;
    padding: 0;

    li {
      width: 100%;
      font-family: $primary-font;
      font-size: 1.4rem;
      line-height: 1.1em;
      font-weight: 800;
      text-transform: uppercase;
      color: $it-second-color;
    }
  }
}
.it-btn-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
}

@media(max-width:767px){
  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0;
  }
  .it-h2 {
    text-align: center;
  }
}
@media(min-width:768px){
  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0;
  }
  .it-h2 {
    text-align: center;
  }
}
@media(max-width:1200px){
  #index-itneo {
    .it-btn-group {
      margin-top: 5%;

      .itneo-button {
        width: 34rem;
      }
      .join-button {
        width: 28rem;
      }
    }

    .it-first-list {
      text-align: center;
      margin: 2em 0;
    }
    .it-h2 {
      text-align: center;
    }
    .out-slider-block {
      padding: 0 3%;
    }
  }
}
@media(min-width:1200px){
  .it-h2 {
    text-align: left;
  }
  .it-first-list {
    text-align: right;
    margin: 2em 0 5em 0;
  }
}

/* Align Media Queries */
@media(max-width:1400px) {
  #index-itneo {

    .it-logo {
      margin: 1rem auto;
    }
    .it-ul-box-1 {
      padding-top: 0;
    }
    .it-first-list {
      margin: 0;
    }
  }
}
/* Align Media Queries */
@media(max-width:1500px) {
  #index-itneo {

    .it-logo {
      margin: 5rem auto;
    }
    .it-ul-box-1 {
      padding-top: 3%;
    }
    .itneo-button {
      width: 80%;
    }
    .join-button {
      width: 70%;
    }
  }
}


