.flex-container-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-communit {
  height: 23rem;
  width: 35rem;
  background: $background1;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  padding: 6rem 2.5rem;
  margin: 6rem 2rem;
}

.svg-container {
  width: 360px;

  p {
    
  }
}
