.background-home{
  margin-top: 8rem;
  margin-bottom: 5rem;
  background-image: url("../img/intro-telephonie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.index-button {
  margin-top: 10rem;
  margin-bottom: 5rem;
  justify-content: space-around;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;

}

.index-comment {
  margin-bottom: 5rem;
  justify-content: space-around;
  display: flex;
}

.background-comment {
  background: rgba(255, 255, 255, 0.6);
  height: 18rem !important;
  width: 28rem !important;
}

@media screen and (max-width: 1150px) {
  .index-comment {
    flex-direction: column;
  }
  .index-button {
    margin-top: 5rem;
    flex-direction: column !important;
    margin-bottom: auto;
  }

  .index-home{
    margin-bottom: 3rem;
  }

  .join {
    padding-right: 20%;
    padding-left: 20%;
    margin-bottom: 5rem;
  }

  .discover {
    padding-right: 20%;
    padding-left: 20%;

  }

  .background-comment {
    background: rgba(255, 255, 255, 0.6);
    height: 13rem !important;
    width: 60rem !important;
    margin:auto;
    margin-top: 5rem;

  }
}

@media screen and (max-width: 820px) {
  .background-comment{
    background: rgba(255,255,255,0.6);
    height: 15rem!important;
    width: 40rem!important;
    margin: auto;
    margin-top: 5rem;
  }

  .join {
    padding-right: 5%;
    padding-left: 5%;
  }

  .discover {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media(max-width:510px) {
  h1 {
    margin-top: 1rem;
    margin-bottom: 10px;
    font-size: 2em;
  }

  .join {
    margin-right: 1%;
    padding-left: 1%;
    margin-bottom: 2rem;
  }

  .discover{
    padding-right: 1%;
    padding-left: 1%;
    margin-bottom: 2rem;
  }
  .index-button {
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
  }

  .index-comment {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .background-comment{
    background: rgba(255,255,255,0.6);
    height: 17rem!important;
    width: 27rem!important;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .background-comment{
  background: rgba(255,255,255,0.6);
  height: 22rem!important;
  width: 20rem!important;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  }
  .join {
    align-items: center;
  }

}