#ticket {
  background-color: $background-color1;

  .background-ticket {
    width: 70%;
    min-width: 30rem;
    margin: 16.2rem auto 7rem auto;
    background-image: url("../img/commun-partie2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //border: solid blue 1px;
  }

  .block-ticket {
    width: 70%;
    min-width: 20rem;
    padding: 5rem 0;
    margin: 0 auto;
    //border: solid deeppink 3px;
    .ticket {
      padding: 1rem 0 5rem 0;
      background: rgba(255, 255, 255, 0.6);
      //border: solid black 7px;
      a {
        color: $secondary-color;
        font-weight: bold;
        text-align: justify;
        line-height: 2.2rem;
        padding: 0 0 1rem 4rem; // 4.5rem : it makes the suitable indent for the text after each flea
        // Fleas
        background-image: url('../img/green-flea3.svg');
        background-repeat: no-repeat;
        background-position: 1rem 0.4rem; // 1rem = flea position on the extrem left ; 0.4rem = vertical position
        background-size: 2rem;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}