/**
 * Back office scss import
 */
// --- General --->
@import "general/settings";
@import "general/general-tools";
@import "general/general-style";
@import "general/more";
@import "general/form";
@import "general/table";

@import "general/login";

// --- Partials --->
@import "partials/bo-simple-sidebar";
@import "partials/bo-top-bar";
@import "partials/bo-header";
@import "partials/bo-footer";

// --- Backoffice --->
@import "backoffice/bo-general";
@import "backoffice/bo-sidebar";
@import "backoffice/bo-dashboard";
@import "backoffice/bo-news";
@import "backoffice/bo-dictionary";
@import "backoffice/bo-ticket";
@import "backoffice/bo-evolution";
@import "backoffice/bo-download";

html {
  height: 0!important;
  padding: 0!important;
  margin: 0!important;
}
