<!DOCTYPE html>
<html>
<head>
    {% include '@App/Partials/backoffice-head.html.twig' %}

</head>
    <body>
    <header>
        {% include '@App/Partials/bo_sidebar.html.twig' %}
        {% include '@App/Partials/bo-top-bar.html.twig' %}

    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>

    </footer>

    {% include '@App/Partials/foot.html.twig' %}
    {% block javascripts %}{% endblock %}
    </body>
</html>
