<!DOCTYPE html>
<html>
    <head>
        {% include 'AppBundle:Partials:head.html.twig' %}
    </head>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Commun'It{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.ico') }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon.ico') }}">
    </head>
    <body id="wrapper">
        <header id="sidebar-wrapper" class="sidebar-communit">
            {% include 'AppBundle:Partials:bo_sidebar.html.twig' %}
        </header>

        <main id="page-content-wrapper">
            {% block body %}{% endblock %}
        </main>

        <footer>
        </footer>

        {% include 'AppBundle:Partials:foot.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
