<!DOCTYPE html>
<html>
    <head>
        {% include 'AppBundle:Partials:head.html.twig' %}
        <title>{% block title %}Commun'It{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% include 'AppBundle:Partials:header.html.twig' %}
        </header>

        <main class="container-fluid">
            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include 'AppBundle:Partials:footer.html.twig' %}
        </footer>

        {% include 'AppBundle:Partials:foot.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
