<!DOCTYPE html>
<html>
<head>
    {% include '@App/Partials/showcase-head.html.twig' %}
</head>
<body>
    <header>

        {% include 'AppBundle:Partials:header.html.twig' %}
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        {% include 'AppBundle:Partials:footer.html.twig' %}
    </footer>

    {% include 'AppBundle:Partials:foot.html.twig' %}
    {% block javascripts %}{% endblock %}
</body>
</html>
