*~
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/.sass-cache/
/vendor/
/web/bundles/
/web/assets/upload/*.*
!/web/assets/upload/.gitkeep
/node_modules/
\/Entity/*~
/web/assets/upload/
/src/AppBundle/Entity/*.php~
**/Entity/*~
/src/AppBundle/Controller/TestController.php
