# Created by .ignore support plugin (hsz.mobi)
public/vendor

.sass-cache
/public/css/sass
/public/css/sass/main.scss
/public/css/sass/_settings.scss
/public/css/sass/_general-tools.scss
/public/css/sass/_index-home.scss
/public/css/sass/_index-itneo.scss
/public/css/sass/_index-itneo-slider.scss
/public/css/sass/_more.scss
