.block_font{
    font-size: 1.2rem;
    font-family: arial, sans-serif;
    font-weight: bold;
    text-align: justify;
}
.flexcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flexcontainer a {
    color: rgb(221, 81, 22);
    text-decoration: none;
}
.flexcontainer a:hover {
    color: darkorange;
}
.titleH1{
    color: rgb(221, 81, 22);
}
.frame{
    height: 230px;
    width: 320px;
    background:
            linear-gradient(150deg, transparent 50px, rgba(154, 192, 10, 0.25) 0) top left,
            linear-gradient(0deg, transparent 0px, rgba(154, 192, 10, 0.25) 0) top right,
            linear-gradient(330deg, transparent 50px, rgba(154, 192, 10, 0.25) 0) bottom right,
            linear-gradient(0deg, transparent 0px, rgba(154, 192, 10, 0.25) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 6rem 2rem;
    margin: 2rem 2rem;
}