#index-itneo {
  margin: 5% 0; }
  #index-itneo .itneo-top-case {
    width: 100%;
    text-align: center;
    margin-left: 5%; }
    #index-itneo .itneo-top-case .it-logo {
      width: 290px;
      height: 160px;
      position: relative;
      padding: 0.1em 1em;
      top: -3.9em; }
    #index-itneo .itneo-top-case .it-h2 {
      font-family: Arial, sans-serif;
      font-size: 3.5em;
      font-weight: 700;
      color: #DD5116;
      text-transform: uppercase; }

.it-first-list {
  /*margin-top: 8em;*/
  list-style-type: none;
  padding: 0; }
  .it-first-list li {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: 800;
    text-transform: uppercase;
    color: #DD5116; }

.it-btn-group {
  text-align: center;
  margin-top: 30%; }
  .it-btn-group .btn-itneo {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #E6397E;
    color: white;
    width: 90%;
    height: 60px;
    border: none;
    background: linear-gradient(135deg, transparent 6px, #E6397E 0) top left, linear-gradient(315deg, transparent 6px, #E6397E 0) bottom right;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 1.5em 0; }
  .it-btn-group .btn-joinus {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #DD5116;
    color: white;
    width: 70%;
    height: 60px;
    border: none;
    background: linear-gradient(135deg, transparent 6px, #DD5116 0) top left, linear-gradient(315deg, transparent 6px, #DD5116 0) bottom right;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 1.5em 0; }

.BORDER01 {
  border: solid red 3px; }

.BORDER02 {
  border: solid blue 3px;
  display: flex;
  /* contexte sur le parent */
  align-items: center;
  justify-content: center;
  /* alignement vertical */ }

.BORDER03 {
  border: solid green 3px; }

.BORDER04 {
  border: solid black 3px; }

.BORDER05 {
  border: solid yellow 3px; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

/**
 * SLIDER CSS ELEMENTS
 */
.it-neo-slider a {
  display: block;
  position: absolute;
  top: 45%;
  z-index: 10;
  width: 100%; }
  .it-neo-slider a span {
    font-size: 3.5em;
    color: #ffffff;
    opacity: 0.7; }
.it-neo-slider .prev {
  padding-left: 1em; }
.it-neo-slider .next {
  text-align: right;
  padding-right: 3.1em; }

.it-link-1 {
  color: #9AC00A;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: "1.5em";
  text-transform: uppercase; }

.be-flex {
  display: flex; }

.be-inline {
  display: inline-block; }

@media (max-width: 767px) {
  #index-itneo {
    margin: 10% 0; }

  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0; }

  .it-h2 {
    text-align: center; } }
@media (min-width: 768px) {
  #index-itneo {
    margin: 10% 0; }

  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0; }

  .it-h2 {
    text-align: center; } }
@media (min-width: 992px) and (max-width: 1200px) {
  #index-itneo {
    margin: 10% 0; }

  .it-btn-group {
    margin-top: 5%; }

  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0; }

  .itneo-top-case {
    margin-left: 0 !important; }

  .it-h2 {
    text-align: center; } }
@media (min-width: 1200px) {
  .it-h2 {
    text-align: left; }

  .it-first-list {
    text-align: right;
    margin: 2em 0 5em 0; } }

/*# sourceMappingURL=itneo-part.css.map */
