

#index-itneo {
  margin: 2% 0;
  font-family: dinregular, Arial, sans-serif;
}

  #index-itneo .itneo-top-case {
    width: 100%;
    text-align: center;
    margin-left: 5%; }
    #index-itneo .itneo-top-case .it-logo {
      width: 290px;
      height: 160px;
      position: relative;
      padding: 0.1em 1em;
      top: -3.9em; }
    #index-itneo .itneo-top-case .it-h2 {


      font-family: Arial, sans-serif;
      font-size: 3.5em;
      font-weight: 700;
      color: #DD5116;
      text-transform: uppercase; }


.it-ul-box-1 {
  padding: 5% 0; }
  .it-ul-box-1 .it-first-list {
    list-style-type: none;
    padding: 0; }
    .it-ul-box-1 .it-first-list li {
      width: 100%;
      font-family: Arial, sans-serif;
      font-size: 2em;
      line-height: 1.1em;
      font-weight: 800;
      text-transform: uppercase;
      color: #DD5116; }

.it-btn-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30%; }
  .it-btn-group .btn-itneo {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #E6397E;
    color: white;
    width: 20em;
    height: 60px;
    border: none;
    transition: all .5s;
    background: linear-gradient(135deg, transparent 6px, #E6397E 0) top left, linear-gradient(315deg, transparent 6px, #E6397E 0) bottom right, linear-gradient(0deg, transparent 0px, #E6397E 0) top right, linear-gradient(0deg, transparent 0px, #E6397E 0) bottom left;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 1.5em auto; }
  .it-btn-group .btn-joinus {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #DD5116;
    color: white;
    width: 16em;
    height: 60px;
    border: none;
    transition: all .5s;
    background: linear-gradient(135deg, transparent 6px, #DD5116 0) top left, linear-gradient(315deg, transparent 6px, #DD5116 0) bottom right, linear-gradient(0deg, transparent 0px, #DD5116 0) top right, linear-gradient(0deg, transparent 0px, #DD5116 0) bottom left;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 1.5em auto; }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

/**
 * SLIDER CSS ELEMENTS
 */
.out-slider-block {
  padding-top: 2em; }
  .out-slider-block .it-neo-slider a {
    display: block;
    position: absolute;
    top: 45%;
    z-index: 10;
    width: 100%; }
    .out-slider-block .it-neo-slider a span {
      font-size: 3.5em;
      color: #ffffff;
      opacity: 0.7; }
  .out-slider-block .it-neo-slider .prev {
    padding-left: 1em; }
  .out-slider-block .it-neo-slider .next {
    text-align: right;
    padding-right: 3.1em; }

.it-link-1 {
  color: #9AC00A;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: "1.5em";
  text-transform: uppercase; }

.be-flex {
  display: flex; }

.be-inline {
  display: inline-block; }

@media (max-width: 767px) {
  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0; }

  .it-h2 {
    text-align: center; } }
@media (min-width: 768px) {
  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0; }

  .it-h2 {
    text-align: center; } }
@media (max-width: 1200px) {
  .itneo-top-case {
    margin-left: 0 !important; }

  .it-btn-group {
    margin-top: 5%; }

  .it-first-list {
    text-align: center;
    margin: 2em 0; }

  .it-h2 {
    text-align: center; }

  .out-slider-block {
    padding: 0 3%; } }
@media (min-width: 1200px) {
  .it-h2 {
    text-align: left; }

  .it-first-list {
    text-align: right;
    margin: 2em 0 5em 0; } }
/* Align Media Queries */
@media (max-width: 1400px) {
  .it-ul-box-1 {
    padding-top: 0; }

  .it-first-list {
    margin: 0; } }
/* Align Media Queries */
@media (max-width: 1500px) {
  .it-ul-box-1 {
    padding-top: 3%; } }

/*# sourceMappingURL=itneo-part.css.map */
