{% extends '@App/Layout/backoffice-base.html.twig' %}

{% block body %}
    {% include '@App/Elements/include.flashBagMessage.html.twig' %}

    <div class="dashboard col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
        <h1>Tableau de bord</h1>

        {% import 'AppBundle:Elements:macro.dashboardList.html.twig' as list %}

        {{ list.getNews('Divers', otherNews) }}
        {{ list.getNews('Technique', technicalNews) }}
        {{ list.getNews('Commerciale', commercialNews) }}

    </div>
{% endblock %}