
{% extends 'AppBundle:Layout:backoffice-base.html.twig' %}

{# This is a temporary file - to be deleted#}

{% block body %}
    <div class="container">
        <div class="container form">
            <div class="message-register row">
                <div class="col-md-12 text-center">
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="alert alert-info">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12  text-center">
                    <hr>
                        <h3> Cette page est en construction</h3>
                    <hr>
            </div>
        </div>
    </div>

{% endblock %}