/* FOOTER */
html {
  background-color: $background-color1;
}
footer {
  padding: 0;
  margin: 0;
  border:0;
  width : 100%;
  height: auto;
  background-color: $background-color1;
  border-top: solid 1px $primary-color;
  ul {
    list-style-type: none;
  }
  a:hover {
    text-decoration:none;
  }
}
#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  #footer-left-up {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  #footer-left-join {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    #hidden-button {
      display: none;
    }
    #footer-left-join-title{
      padding-left: 2rem;
      //padding-right: 2rem;
      //width: 33%;
      h3 {
        text-align: right;
        line-height: 150%;
      }
    }
    #footer-left-join-list {
      width: auto;
      padding-left: 3rem;
      ul{
        list-style-image: url('../img/puce_xxxs.png');
        a {
          color: $secondary-color;
        }
        a:hover{
          color: $primary-color;
        }
        h3 {
          text-align: left;
        }
      }
    }
  }
  #footer-left-join-button {
    padding-left:10rem;
    .join-button {
    }
  }
  #footer-left-down{
    margin: 0 auto;
    a{
      color: $secondary-color;
      font-family:$primary-font;
    }
    a:hover {
      color: $primary-color;
    }
  }
}
#footer-right{
  position: relative;
  #footer-right-contact{
    background-color: white;
    border: solid 1px $primary-color;
    width: 30rem;
    height: 17.5rem;
    z-index: 100;
    position: absolute;
    top: 2rem;
    right: 3.8rem;
    h3{
      color: $primary-color;
    }
    p {
      text-align: left;
    }
  }
  #footer-right-triangle-img {
    position: relative;
    p {
      position: absolute;
      top: 20rem;
      right: 3.8rem;
      text-align: right;
      color: $paragraph-color;
      a {
        color: $paragraph-color;
        font-weight: bold;
      }
      #it {
        color: $secondary-color;
      }
    }
  }
}
/* social icons*/
.centerUL {
  margin: 0;
  padding: 0;
  text-align: center;
}
.centerLI li {
  display: inline-block;
}
.fa-rotate {
  transition: -webkit-transform .5s ease-in-out;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  color: rgb(154, 192, 10);
  font-size: 2rem;
}
.fa-rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: rgb(221, 81, 22);
  font-size: 2rem;
}

@media screen and (max-width: 1400px){
  #footer-left {
    #footer-left-join {
      width: 95%;
      #hidden-button {
        display: block;
      }
      #footer-left-join-title {
        width: 60%;
        padding-left:0;
        h3 {
          text-align: center;
        }
      }
      #footer-join-list {
        padding-left: 0;
      }
    }
    #footer-left-join-button {
      display:none;
      .join-button {
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #footer-left {
    #footer-left-up{
      flex-direction: column;
      justify-content: flex-start;
      align-items: left;
      #footer-left-join {
        align-items: baseline;
        #footer-left-join-title{
          padding-left: 0.3rem;
          h3 {
            margin-top: 0.5rem;
          }
        }
        #footer-left-join-list {
          ul {
            margin-bottom: 0;
            h3 {
              margin-top: 1rem;
              margin-bottom: 1rem;
              text-align: left;
            }
          }
        }
      }
      #hidden-button {
        display: none;
      }
    }
    #footer-left-join-button {
      display:block;
      padding-left: 1rem;
      .join-button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  #footer-right{
    #footer-right-contact{
      width: 27.5rem;
      height: 16rem;
      top: 1.6rem;
      right: 3rem;
    }
    #footer-right-triangle-img {
      img {
        width: 40rem;
      }
      p {
        top: 18rem;
        right: 3rem;
      }
    }
  }
}

@media screen and (max-width: 920px){
  #footer{
    flex-direction: column;
  }
  #footer-left {
    width: 100%;
    #footer-left-up {
      flex-direction:column;
      align-items: center;
      #footer-left-join {
        flex-direction: column;
        align-items: center;
        #footer-left-join-title{
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          #hidden-button{
            display: none;
          }
          h3 {
            text-align: center !important;
            margin-top: 2rem;
          }
        }
        #footer-left-join-list {
          padding-left: 0;
          ul {
            padding-left: 0;
            li {
              display: inline-block;
            }
            h3 {
              text-align: left;
              margin-top: 2rem;
              margin-bottom: 1rem;
              padding-left: 2rem;
              padding-right: 2rem;
            }
          }
        }
      }
      #footer-left-join-button {
        margin-top: 2rem;
        padding-left: 0;
        .join-button {
          padding-left: 0;
        }
      }
    }
    #footer-left-down {
      margin: 0 auto;
      padding-bottom: 1rem;
    }
  }
  #footer-right{
    #footer-right-contact{
      width: 29rem;
      height: 17rem;
      top: 1.75rem;
      right: 3rem;
    }
    #footer-right-triangle {
      width: 100%;
    }
    #footer-right-triangle-img {
      position: relative;
      img {
        width: 44rem;
        position:absolute;
        right:0;
        top:0;
      }
      p {
        top: 21rem;
        right: 3rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #footer-left {
    #footer-left-up {
      #footer-left-join {
        #footer-left-join-list {
          ul {
            list-style-image: url('../img/puce_xxxs.png') !important;
            li {
              display: list-item;
            }
            h3 {
              padding-right:0;
              padding-left:0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  #footer-left {
    #footer-left-down{
      padding-bottom: 10rem;
    }
  }
  #footer-right{
    #footer-right-contact{
      width: 26rem;
      height: 17rem;
      top: -7rem;
      right: 1rem;
      ul {
        padding-left: 1rem;
        p {
          text-align: center;
        }
      }
    }
    #footer-right-triangle-img {
      img {
        width: 28rem;
      }
      p {
        top: 11rem;
        right: 1rem;
        font-size: 1.4rem;
        margin: 0 auto;
        span {
          font-size: 1.7rem;
        }
      }
    }
  }
}
