.index-home {
  padding-top : 15rem;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media(max-width:480px) {
  h1 {
    margin-top: 4em;
    margin-bottom: 10px;
    font-size: 2em;
  }
  .join, .discover {
    margin-top: 10px;
  }
  .mrg-top-1 {
    margin-top: 10px;
  }

}
