$primary-color: #9AC00A;
$secondary-color: #DD5116;
$it-color: #E6397E;
$it-second-color: rgb(138, 138, 138);
$paragraph-color: lighten(black, 33%);

$primary-font: dinregular, sans-serif;
$secondary-font: Arial, sans-serif;