.bo-title-page {
  h2 {
    padding: 2rem 0;
  }
  h3 {
    padding: 1rem 0;
  }
}
.bo-evolution {

  .panel-top-line {
    display: flex;

    .evolution-status {
      display: inline-block;
      border: 1px solid #1d1d1d;
      border-radius: 3px;
      padding: 0.25rem 0.75rem;
      margin: auto 0.5rem auto 0;
    }
  }

  .panel-footer {
    .bottom-footer {
      display: flex;
      justify-content: space-between;
    }
  }
}