.bo-title-page {
  h2 {
    padding: 2rem 0;
  }
  h3 {
    padding: 1rem 0;
  }
}

/**
 * Loader Parts
 */
.loader-wcs {
  padding: 2rem 0;

  .loader {
    position: absolute;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
  }

  .inner {
    position: absolute;
    border-radius: 50%;
    border: 8px solid transparent;
    box-sizing: border-box;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .inner.one {
    border-left: 8px solid $primary-color;
    border-right: 8px solid $primary-color;
    animation: rotate-left 2s linear infinite;
  }

  .inner.two {
    border-top: 8px solid $secondary-color;
    border-bottom: 8px solid $secondary-color;
    animation: rotate-left 3s linear infinite;
  }

  @keyframes rotate-left {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

/**
 * Error message
 */
.error-box {

  p {
    display: block;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    transition: 1s ease;
    padding: 2rem;
  }

  .error-msg {
    background-color: $secondary-color;
  }

  .valid-message {
    background-color: $primary-color;
  }

}