.dictionary-list {
  border: 1px solid $primary-color;
  margin: 2rem 0;
  padding: 2rem 2rem;

  .list-group-item {
    border-radius: 2px;
    transition: 1s ease;

    .badge {
      background-color: $primary-color;
      border-radius: 2px;

      a {
        i {
          transition: 0.4s ease;
        }
        &:hover > i {
          color: $secondary-color;
        }
      }
    }

    input[type='text'] {
      &:focus {
        outline: 1px solid $primary-color;
      }
    }
  }

  a {
    color: #fff;
  }
}

.msg-return {
  display: block!important;
  background-color: $secondary-color!important;
  border-radius: 2px;
  color: #fff;
  transition: 1s ease;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}