/* .modal-fullscreen */
@media (max-width: 520px) {
  .modal-adress {
    display: inherit!important;
  }
  .modal-info-label {
    width: 100%!important;
  }
}
.modal-information {
  color: darken($primary-color, 8%);
}
.modal-header {
  border-bottom: 1px solid $primary-color;
}
.modal-footer {
  border-top: 1px solid $primary-color;
}
#mentions-legales-link {
  &:active, &:target, &:focus {
    border: none;
    outline: none;
    text-decoration: none;
  }
}
.modal-info-label {
  width: 22rem;
  display: inline-block;
  font-weight: 500;
}
.modal-adress {
  display: flex;

  ul {
    margin: 0;
    padding: 0;
  }

  p {
    word-wrap: break-word;
    flex-wrap: wrap;
    font-size: 1.8rem;
    text-align: justify!important;
  }
}

.modal-fullscreen {
  background: #fff;

  .title3 {
    color: $secondary-color;
    font-size: 2.5rem;
    border-bottom: 1px solid $secondary-color;
  }
  .paragraphe {
    font-size: 1.8rem;
    text-align: justify!important;
  }

  .closed-cross {
    font-size: 2em;
    color: $secondary-color;
  }

  .modal-title {
    font-size: 2.7rem;
    text-align: center;
    color: $secondary-color;
  }

  .closed-text {
    background-color: $secondary-color;
    border: 2px solid $secondary-color;
    border-radius: 0;
    transition: 0.3s ease-in-out;
    width: 12rem;

    p {
      color: #ffffff;
      padding: 0;
      margin: 0!important;
    }

    &:hover {
      transform: scale(0.95);
    }

    &:active, &:focus, &:target {
      border: 2px solid #fff;
      background-color: $secondary-color;
      outline: none;
    }
  }
}

// CSS Import ->
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

// .modal-fullscreen size: we use Bootstrap media query breakpoints ->

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px;
  }
}
