#communit {
  background-color: $background-color1;
  padding: 5rem 0;

  h2 {
    padding: 0 0 2rem 0;
  }

  .flex-container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
  }

  .box-communit {
    height: 23rem;
    width: 35rem;
    background: $background1;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 6rem 2.5rem;
    margin: 6rem 2rem;
  }
  // Svg to box with green border
  .svg-container-1 {
    display: block;
    min-width: 42rem;
    max-width: 42rem;
    margin: 0 0 6rem 0;

    p {
      color: darken($primary-color, 12%);
      font-size: 1.7rem;
      font-family: $secondary-font;

      line-height: 2.5rem;
      text-align: justify;
      display: inline-block;
      width: 80%;
    }
  }

  .background-commun {
    margin-top: 8rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
    background-image: url("../img/commun-partie2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  .flex-container-2 {
    //border: solid purple 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; // it centers blocks horizontally if margin is not set to "auto"
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    background: rgba(255, 255, 255, 0.6);

    a { // itnéo link
      color: $it-color;

      &:hover {
        color: $it-second-color;
      }
    }

    h3 {
      padding: 0 0 1rem;
      color: $paragraph-color;
    }

    ul {
      padding: 0;
      list-style: none;
      li {
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: $paragraph-color;
        text-align: justify;
        line-height: 2.2rem;
        font-size: 1.6rem;
        padding: 0 2rem 1rem 2rem;
      }
    }
  }

  .box-with-border, .box {
    width: 40%;
    min-width: 30rem;
    display: inline-block;
    position: relative;
    padding-right: 3em;

  }

  .box-with-border {
    border: 0.4rem solid $secondary-color;
    background: $background-color1;
    padding: 0;
    margin: 0; // If "auto", it affects flex-container-2 with justify-content : center which becomes unefficient
  }

  .block-questions {
    width: 40%;
    min-width: 30rem;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;

    .questions {
      padding: 0 2rem 0 0;

      h4 {
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: $secondary-color;
        margin-top: 0 !important;
      }

      p {
        color: $secondary-color;
        font-weight: bold;
        text-align: justify;
        line-height: 2.2rem;
        padding: 0 0 1rem 4rem; // 4.5rem : it makes the suitable indent for the text after each flea
        // Fleas
        background-image: url('../img/green-flea3.svg');
        background-repeat: no-repeat;
        background-position: 1rem 0.4rem; // 1rem = flea position on the extrem left ; 0.4rem = vertical position
        background-size: 2rem;
      }
    }

    .questions-button {
      width: 28rem;
      margin: 0 auto;

    }
  }

  @media screen and (max-width: 768px) {

    .box-with-border, .box {
      width: 100%;
      min-width: 30rem;
      display: inline-block;
      position: relative;
      margin-bottom: 5em;
    }

    .box-with-border {
      border: 0.4rem solid $secondary-color;
      background: $background-color1;
      padding: 0;
      margin: 0; // If "auto", it affects flex-container-2 with justify-content : center which become unefficient
    }

    .block-questions {
      width: 100%;
      min-width: 30rem;
      display: inline-block;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      margin: 0;
      margin-top: 1rem;

      .questions {
        padding: 0 2rem 0 2rem;

        p {
          padding: 0 0 1rem 4rem; // 4.5rem : it makes the suitable indent for the text after each flea
          // Fleas
          background-image: url('../img/green-flea3.svg');
          background-repeat: no-repeat;
          background-position: 1rem 0.4rem; // 1rem = flea position on the extrem left ; 0.4rem = vertical position
          background-size: 2rem;
        }
      }
    }

    .questions-button {
      width: 100%;
      margin: 0 auto;
    }

  }

  @media screen and (max-width: 1200px) {
    .flex-container-1 {
      margin: 2rem 0 !important;

      .svg-container-1 {
        margin-bottom: 3rem !important;
        margin-top: 1rem !important;
      }
    }
    #arrowbox{
      width: auto;
    }
    .box {
      margin-bottom: 5em;
    }
  }

  @media screen and (max-width: 1300px) {
    #arrowbox{
      width: 100% !important;
    }
    .block-questions {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      margin: 0;
      margin-top: 2rem !important;
    }
    .questions {
      padding-left: 0 !important;
      padding-right: 0 !important;

      p {
        padding-left: 4rem !important;
        padding-right: 2rem !important;
      }
    }

    #arrowbox {
      padding-right: 0 !important;

      .cummunit-text, .questions {
        text-align: center !important;
      }
    }

    .box {
      margin-bottom: 5em;
    }

    .svg-container-1 {
      min-width: 38rem !important;
      margin: 6rem 1rem !important;
    }

    @media screen and (max-width: 400px) {
      .flex-container-1 {
        flex-direction: column !important;
        align-items: center !important;
        //border: solid blue 3px;

        .svg-container-1 {
          padding: 0;
          margin: 0;
          min-width: 30rem !important;
        }
      }
      .box-with-border, .box {
        margin-bottom: 5em;

      }
    }
  }
}
