<div class="footer row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <ul class="link-group">
            <li><a href="#">Notre charte</a></li>
            <li class="divider-li">-</li>
            <li><a href="#">Mentions légales</a></li>
            <li class="divider-li">-</li>
            <li><a href="">Nous contacter</a></li>
        </ul>
    </div>
</div>