<div class="footer row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <ul class="link-group">
            <li><a href="{{ path('charteIndex') }}">Notre charte</a></li>
            <li class="divider-li">-</li>
            <li><a href="{{ path('mentionsIndex') }}">Mentions légales</a></li>
        </ul>
    </div>
</div>