<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            CommunIt
        </a>
    </li>
    <li><a href="#">Board</a></li>
    <li><a href="{{ path('index_ticket') }}">Tickets</a></li>

</ul>
