<section>
    <h2>Votre communauté de la téléphonie IP</h2>
    <div class="flex-container-1">
        <div class="box-communit box">
            <p class="p2">La COMMUN’it est un groupement de revendeurs au niveau national mais avant tout un réseau de partenaires convaincus, qui souhaitent se libérer des contraintes imposées par les constructeurs traditionnels et des formations et certifications obligatoires et coûteuses.</p>
        </div>
        <div class="box-communit">
            <p class="p2">La COMMUN’it vous offre la possibilité d’interagir avec nos développeurs afin de faire évoluer la solution itnéo en répondant aux attentes de vos clients et de vos services techniques. Vous pourrez via l’extranet proposer vos compétences techniques au réseau d’intégrateurs et en rechercher afin d’être toujours plus efficace sur le terrain.</p>
        </div>
        <div class="box-communit">
            <p class="p2">Pas de formations obligatoires, nous vous accompagnons sur le terrain aussi bien commercialement que techniquement. Des formations spécifiques peuvent être proposées ou demandées.</p>
        </div>
    </div>
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h3>La COMMUN’it c’est :</h3>
    </div>
    <div class="row">
        <ul class="col-xs-3 col-sm-3 col-md-3  col-lg-3 col-lg-offset-1">
            <li>100 % de ventes indirectes</li>
            <li>La possibilité de revendre notre solution itnéo en marque blanche et de proposer à
                votre clientèle votre propre solution avec une interface à vos couleurs et avec votre logo</li>
        </ul>
        <ul class="col-xs-3 col-sm-3 col-md-3  col-lg-3 col-lg-offset-1">
            <li>Un tarif préférentiel sur la solution et services itnéo</li>
            <li>Un support technique gratuit et illimité</li>
        </ul>
        <ul class="col-xs-3 col-sm-3 col-md-3 col-md-offset-1 col-lg-3">
            <li>La possibilité de faire des propositions d’évolutions simples et complexes avec
                un cahier des charges et un système de vote</li>
            <li>La possibilité de développements spécifiques avec mutualisation des coûts</li>
        </ul>
    </div>
    <div class="row text-center">
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
            <p>Vous souhaitez travailler avec une société Française à votre écoute ?</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
            <button class="join-button" type="button">rejoignez-nous</button>
        </div>
        <div class="row col-xs-3 col-sm-3 col-md-4 col-lg-4">
            <p>garantir à vos clients des investissements sur le long terme ?</p>
        </div>
    </div>
    <div class="row">
        <p class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-lg-offset-2">partager vos idées d’évolutions et valoriser votre offre ?</p>
        <p class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-lg-offset-1">travailler avec une équipe compétente et disponible ?</p>
    </div>
    <div class="row">
        <p class="col-xs-3 col-sm-3 col-md-3 col-lg-4 col-lg-offset-4 text-center">proposer une solution de téléphonie sur IP
            innovante sans système de licence à l’utilisateur ?</p>
    </div>
</section>

