<section id="communit">
    <h2>Votre communauté de la téléphonie IP</h2>

    <div class="flex-container-1">
        {# [MACRO] svgBox(@param1->posY, @param2->textSend) #}
        {% import 'AppBundle:Elements:macro.svgBox.html.twig' as box %}
        {{ box.svgBox("75", "La COMMUN’it est un groupement de revendeurs au niveau national mais avant tout un réseau de partenaires convaincus, qui souhaitent se libérer des contraintes imposées par les constructeurs traditionnels et des formations et certifications obligatoires et coûteuses.") }}
        {{ box.svgBox("55", "La COMMUN’it vous offre la possibilité d’interagir avec nos développeurs afin de faire évoluer la solution itnéo en répondant aux attentes de vos clients et de vos services techniques. Vous pourrez via l’extranet proposer vos compétences techniques au réseau d’intégrateurs et en rechercher afin d’être toujours plus efficace sur le terrain.") }}
        {{ box.svgBox("100", "Pas de formations obligatoires, nous vous accompagnons sur le terrain aussi bien commercialement que techniquement. Des formations spécifiques peuvent être proposées ou demandées.") }}
    </div>

    <div class="flex-container-2">

        <!--<div class="block-arrow">-->
            <div id="arrowbox" class="box-with-border arrow-right-center">
                <div><h3>La COMMUN’it c’est :</h3></div>
                <div>
                    <ul>
                        <li>100% de ventes indirectes</li>
                        <li>La possibilité de revendre notre solution itnéo en marque blanche et de proposer à votre clientèle votre propre solution avec une interface à vos couleurs et avec votre logo</li>
                        <li>Un tarif préférentiel sur la solution et services <a href="http://itneo.fr/solution-telephonie-ip/" target="_blank">itnéo</a></li>
                        <li>Un support technique gratuit et illimité</li>
                        <li>La possibilité de faire des propositions d’évolutions simples et complexes avec un cahier des charges et un système de vote</li>
                        <li>La possibilité de développements spécifiques avec mutualisation des coûts</li>
                    </ul>
                </div>
            </div>


        <div class="empty"></div>

        <div class="block-questions">
            <div class="questions">
                <h4>Vous souhaitez :</h4>
                <p>travailler avec une société Française à votre écoute&nbsp;?</p>
                <p>garantir à vos clients des investissements sur le long terme&nbsp;?</p>
                <p>partager vos idées d’évolutions et valoriser votre offre&nbsp;?</p>
                <p>travailler avec une équipe compétente et disponible&nbsp;?</p>
                <p>proposer une solution de téléphonie sur IP innovante sans système de licence à l’utilisateur&nbsp;?</p>
            </div>
            {% import 'AppBundle:Elements:macro.svgButton.html.twig' as button %}
            <div class="questions-button">
                {{ button.svgButton("#dd5116", "Rejoignez-nous !") }}
            </div>
        </div>
    </div>
</section>

