{% extends 'AppBundle::showcase-base.html.twig' %}

{# This is a temporary file - to be deleted#}

{% block body %}
    <div class="container" id="login">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap text-center">
                    <hr>
                    <h3>Utilisateur</h3>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Connecté en tant que {{ app.user.username }}
                    <br>
                    <a href="{{ path('logout') }}" class="btn btn-link">
                    <i class="glyphicon glyphicon-log-out"></i>
                    Déconnexion</a>
                    {% endif %}
                    <hr>
                </div>
            </div>
        </div>
    </div>

{% endblock %}