<div id="footer">
    <div id="footer-left">
        <div id="footer-left-up">
            <div id="footer-left-join">
                <div id="footer-left-join-title">
                    <h3>Integrez notre communauté</h3>
                    {% import 'AppBundle:Elements:macro.svgButton.html.twig' as button %}
                    <div id="hidden-button">
                          {{ button.svgButton("#dd5116", " Rejoignez-nous !") }}
                    </div>
                </div>
                <div id="footer-left-join-list">
                    <ul>
                        <li><h3><a href="#offer">Offre globale</a></h3></li>
                        <li><h3><a href="#mutualisation">Mutualisation</a></h3></li>
                        <li><h3><a href="#accompaniment">Accompagnement</a></h3></li>
                    </ul>
                </div>
            </div>
            {% import 'AppBundle:Elements:macro.svgButton.html.twig' as button %}
            <div  id="footer-left-join-button">
                {{ button.svgButton("#dd5116", "Rejoignez-nous !") }}
            </div>
        </div>
        <div id="footer-left-down">
            <h3><a href="/historique">A propos de nous</a></h3>
        </div>
    </div>
    <div id="footer-right">
        <div id="footer-right-contact">
            <h3>Contactez-nous !</h3>
            <ul>
                <li><p>04 28 38 24 68</p></li>
                <li><p>laurent.chareille@communit.fr</p></li>
            </ul>
            <ul class="centerUL centerLI">
                <li><a href="https://twitter.com" target="_blank">
                        <span class="fa-stack fa-rotate">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li><a href="https://fr.linkedin.com" target="_blank">
                        <span class="fa-stack fa-rotate">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li><a href="https://www.www.inside_communit.fr" target="_blank">
                        <span class="fa-stack fa-rotate">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Twig modal import -->
        {% include 'AppBundle:Partials:mentionsLegales.html.twig'%}
        <div id="footer-right-triangle">
            <div id="footer-right-triangle-img">
                <img src="{{ asset('assets/img/triangle.png') }}" alt="green triangle">
                <p>
                    <!-- Mentions Legales Button -->
                    <a id="mentions-legales-link" href="" data-toggle="modal" data-target="#modal-fullscreen">Mentions légales</a>
                    <span><a href="#">&copy; commun<span id="it">it</span>.fr</a></span><br/>
                    <a href="https://wildcodeschool.fr/" target="_blank">Développé par la Wild Code School</a>
                </p>
            </div>
        </div>
    </div>
</div>



