<div id="footer">
    <div id="footer-left">
        <div id="footer-left-up">
            <div id="footer-left-join">
                <h3>Integrez notre communauté</h3>
            </div>
            <div id="footer-left-join-list">
                <ul>
                    <li><h3><a href="#anchor_communit">Offre globale</a></h3></li>
                    <li><h3><a href="#anchor_communit">Mutualisation</a></h3></li>
                    <li><h3><a href="#anchor_communit">Accompagnement</a></h3></li>
                </ul>
            </div>
            <div  id="footer-left-join-button">
                <button class="join-button" type="button">rejoignez-nous !</button>
            </div>
        </div>
        <div id="footer-left-down">
            <h3><a href="src/view/partials/story.php" target="_blank">A propos de nous</a></h3>
        </div>
    </div>
    <div id="footer-right">
        <div id="footer-right-contact">
            <h3>Contactez-nous !</h3>
            <ul>
                <li><p>04 28 38 24 68</p></li>
                <li><p>laurent.chareille@communit.fr</p></li>
            </ul>
            <ul class="centerUL centerLI">
                <li><a href="https://twitter.com" target="_blank">
                        <span class="fa-stack fa-rotate">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li><a href="https://fr.linkedin.com" target="_blank">
                        <span class="fa-stack fa-rotate">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li><a href="https://www.www.inside_cummunit.fr" target="_blank">
                        <span class="fa-stack fa-rotate">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="footer-right-triangle">
            <div id="footer-right-triangle-img">
                <img src="{{ asset('assets/img/triangle.png') }}" alt="green triangle">
                <p><a href="#">&copy; commun<span>it</span>.fr</a><br/>
                Développé par la Wild Code School</p>
            </div>
        </div>
    </div>
</div>


<!-- <div class="flexpropos">
    <div id="apropos"><a href="src/view/partials/story.php" target="_blank">A propos</a></div>
    <div id="triangle"></div>
</div>

<div id="footerpart1">
    <div id="myicon" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <ul class="centerUL centerLI">
                <li><a href="https://fr-fr.facebook.com" target="_blank">
                                <span class="fa-stack fa-rotate">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                    </a></li>

                <li><a href="https://twitter.com" target="_blank">
                                <span class="fa-stack fa-rotate">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                    </a></li>

                <li><a href="https://fr.linkedin.com" target="_blank">
                                <span class="fa-stack fa-rotate">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                    </a></li>

                <li><a href="https://www.www.inside_cummunit.fr" target="_blank">
                                <span class="fa-stack fa-rotate">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                </span>
                    </a></li>
            </ul>

        </div>
    </div>

    <div class="general_font footer_menu">
        <div class="flexdiv"><a href="anchor_communit">Offre globale</a></div>
        <div class="flexdiv"><a href="anchor_communit">Mutualisation</a></div>
        <div class="flexdiv"><a href="anchor_communit">Accompagnement</a></div>
    </div>
</div>

<div class="footerpart2">

    <div class="flexdiv">
        <a href="src/view/partials/story.php" target="_blank">Génèse de la communauté</a>
    </div>
    <div class="flexdiv">
        <ul class="centerUL">
            <li><a href="#">Contactez-nous</a></li>
            <li><a href="tel:+33671058591">06 71 05 85 91</a></li>
            <li><a href="tel:+33428382468">04 28 38 24 67</a></li>
        </ul>
    </div>
    <div class="flexdiv">
        <ul class="centerUL">
            <li><a href="#">&copy; commun<span>it</span>.fr</a></li>
            <li><a href="src/view/partials/legal.php" target="_blank">Mentions légales</a></li>
        </ul>
    </div>

</div> -->


