<section id="index-itneo" class="row">
    <!-- Part top (logo + h3 text -> descript product) -->
    <div class="col-xs-12 itneo-top-case">
        <h2>Notre solution téléphonie ip</h2>
    </div>
    <!-- Part down (3parts -> text-info -> slider -> button -->
    <div class="row">
        <!-- First col (text-info) -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 it-ul-box-1">
            <ul class="it-first-list">
                <li>Solution logicielle</li>
                <li>Innovante</li>
                <li>Basée sur Asterisk</li>
                <li>Sans licence / utilisateur</li>
                <li>En intelligence partagé</li>
                <li>Marque blanche</li>
                <li>Marge optimisée</li>
            </ul>
        </div>
        <!-- Second col (slider) -->
        <div id="itneo-slider-block" class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/img/slide1.jpeg') }}" alt="it photo">
                        <p>Slide 1</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/img/slide1.jpeg') }}" alt="it photo">
                        <p>Slide 2</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="{{ asset('assets/img/slide1.jpeg') }}" alt="it photo">
                        <p>Slide 3</p>
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

            <a href="#" class="plus-info-2">Plus d'info</a>
        </div>
        <!-- Last part (button) -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
            <img class="it-logo be-inline" src="{{ asset('assets/img/itneo_logo_HD.png') }}" alt="it neo logo">
            <div class="it-btn-group">
                <button type="button" class="itneo-button">Découvrez Itnéo!</button>

                <!--
                - TODO => SEND TO FOOTER
                - <button type="button" class="join-button">Rejoignez-nous !</button>
                -->

            </div>
        </div>
    </div>
</section>

