<nav class="navbar navbar-default navbar-fixed-top top-nav-collapse header" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid header">
        <div class="navbar-header header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"> <!-- to be linked to the top of the page, give an id to first section-->
                <img src="{{ asset('assets/img/commun-it_logo.png') }}" alt="Logo de Commun IT" class="img-responsive" id="imgLogo">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse header">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a class="link" href="http://itneo.fr" target="_blank" id="itneo-link">Solution Asterisk</a></li>
                <li class=""><a class="link" href="{{ path('user_registration') }}">s'inscrire</a></li>
                <li><a class="link" id="login-link" href="{{ path('login') }}">se connecter</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
