<div class="top-footer-block">
    <p>
        Cordialement, <br>
        L'équipe Commun'It<br>
        Le {{ 'now'|date('d/m/Y') }}
    </p>
</div>
<div class="bottom-footer-block">
    <hr>
    <p>Ce message a été envoyer automatiquement par un robot, merci de ne pas y répondre.</p>
    <p>
        Si vous souhaitez nous contacter, rendez-vous sur notre site en cliquant
        <a href="{{ path('home') }}">ICI</a>
    </p>
</div>