<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="/css/main.css">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% include 'WebBundle:Partials:header.html.twig' %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include 'WebBundle:Partials:footer.html.twig' %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
