<section class="footer-page">
    <div class="footer-part footer-left-part">
        <h3>Plan du site</h3>
    </div>
    <div class="footer-part footer-middle-part">
        <h3>Informations</h3>
    </div>
    <div class="footer-part footer-right-part">
        <h3>Nos partenaires</h3>
    </div>
</section>