<section class="header-page">
    <div class="title-area">
        <p class="title-header">IvyIdea</p>
    </div>
    
    <div class="nav-area">
        <nav class="nav-header">
            <ul class="nav-header-list">
                <div class="left-header-nav">
                    <!-- Need to use active-nav to animate link (js ??) -->
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Forum</a></li>
                </div>

                <div class="right-header-nav">
                    <li><a href="#">Inscription</a></li>
                    <li><a href="#">Connexion</a></li>
                </div>
            </ul>
        </nav>
    </div>
</section>