{% extends 'AppBundle::showcase-base.html.twig' %}

{% block body %}

    <div class="historique-communit">
        <h2>Historique de la commun'it</h2>

        <div class="container-historique">
            <!-- The Timeline -->
            <ul class="timeline">
                <!-- Item 1 -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="flag flag-right">Production</span>
                            <span class="time-wrapper"><span class="time">Juillet 2017</span></span>
                        </div>
                        <div class="desc">Mise en production du service web communIt !</div>
                    </div>
                </li>

                <!-- Item 2 -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="flag flag-left">Web Communit</span>
                            <span class="time-wrapper"><span class="time">Mars 2017</span></span>
                        </div>
                        <div class="desc">Création du service web de la communit.</div>
                    </div>
                </li>

                <!-- Item 3 -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="flag flag-right">Création CommunIt</span>
                            <span class="time-wrapper"><span class="time">2016</span></span>
                        </div>
                        <div class="desc">Création d'entreprise communit, extention de clickDev.</div>
                    </div>
                </li>

                <!-- Item 4 -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="flag flag-left">Conception Communit</span>
                            <span class="time-wrapper"><span class="time">2014-2015</span></span>
                        </div>
                        <div class="desc">La communit est conçu à partir d'un projet concret.</div>
                    </div>
                </li>
            </ul>

            <div class="historique-text">
                <p>
                    Sed at maximus urna. Integer eget orci blandit, tempus metus vitae,<br>
                    varius metus. Curabitur sit amet pretium risus.<br><br>
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia Curae;<br>
                    Praesent in consectetur orci.<br><br>
                    Maecenas ligula magna, <br>
                    eleifend eget sem eu, aliquet vestibulum quam.<br><br>
                    In tincidunt at elit pulvinar dictum. Aliquam sodales efficitur maximus.<br><br>
                    Suspendisse dignissim, dui faucibus tristique dignissim, ligula orci commodo elit,<br>
                    congue laoreet mi justo quis metus. Suspendisse porttitor justo in maximus iaculis.<br><br>
                    Ut faucibus quam sed fringilla tincidunt. Mauris risus neque, iaculis ac orci vel,<br>
                    facilisis pulvinar neque.
                </p>
            </div>
        </div>
    </div>

{% endblock %}