{% extends ('@App/backoffice-base.html.twig') %}

{% block body %}
    <section class="form-all">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-lg-8 col-lg-offset-2">
                {{ form(form) }}
                {#{{ dump(test) }}#}
                <a href="{{ path('index_ticket') }}">Retour à la liste des tickets</a>
            </div>
        </div>
    </section>
{% endblock %}