{% extends ('@App/base.html.twig') %}

{% block body %}

    <section id="ticket">
        <div class="background-ticket">
            <div class="block-ticket">
                <div class="ticket">

                    <h3>AJouter un ticket</h3>
                    {{ form_start(form) }}
                    {{ form_row(form) }}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </section>

{% endblock %}