{% extends '@App/Layout/backoffice-base.html.twig' %}

{% block title %}{{ titlePage }}{% endblock %}


{% block body %}

    <div class="container-fluid">
        <div class="row">
            {% include ('@App/Elements/include.flashBagMessage.html.twig') %}

            <div class="col-xs-12 col-md-10 col-md-offset-1">
                {{ data.content|raw }}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-xs-12 col-md-10 col-md-offset-1 border-top">
                    {% if (type == 'charte') %}
                        <a href="{{ path('charteUpdate') }}">Modifier votre charte</a>
                    {% elseif (type == 'mentions') %}
                        <a href="{{ path('mentionsUpdate') }}">Modifier vos mentions légales</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}