/*green*/
/*orange*/
/*page background color*/
/*background color for boxes*/

/* HEADER */
.header {
  padding: 0 !important;
  margin: 0 !important;
  font-family: dinregular, Arial, sans-serif;
  /* font to be set in the main css file*/ }

/* removes dotted lines in Firefox browser when links are visited and another link is hovered */
:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

/* height of the navbar is adjusted to the visible part of the logo image;
the height is reduced by scrolling;
the color of the bootstrap default navbar is changed to white*/
.navbar {
  height: 11.5em;
  padding-bottom: 30px;
  width: 100%;
  background-color: white !important;
  transition: padding, height .3s ease;
  transition-duration: 0.3s; }

/* CommmunIt logo image settings */
.navbar-brand img {
  width: 22em;
  height: auto;
  padding-left: 0.6em;
  transition: width .1s ease;
  transition-duration: 0.3s; }

a.navbar-brand {
  margin: 0;
  padding: 0; }

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse,
nav.navbar.navbar-default.navbar-fixed-top {
  background-color: white !important;
  width: 100%; }

/* setting links in the middle vertical position */
div.navbar-header.header {
  height: 100%;
  position: relative; }

ul.nav.navbar-nav.navbar-right {
  position: absolute;
  top: 25%;
  right: 0;
  padding-right: 3em;
  /* pushes links to the left */ }

button.navbar-toggle span {
  background-color: #DD5116 !important; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a {
  color: #9AC00A;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  padding-right: 1.5em;
  padding-left: 1.5em; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #DD5116; }

a.link {
  display: block !important;
  text-align: center; }

@media screen and (max-width: 1024px) {
  .navbar {
    height: 8em; }
  .navbar-brand img {
    width: 16em; }
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a {
    font-size: 1.2em;
    padding-right: 0; }
  ul.nav.navbar-nav.navbar-right {
    top: 15%; }
  #itneo-link {
    padding-left: 0; } }

@media screen and (max-width: 768px) {
  .navbar {
    height: 6.5em;
    transition: height .3s ease;
    transition-duration: 0.4s; }
  .navbar-brand img {
    width: 13em;
    padding-left: 0; }
  /* height of div.navbar-header.header is equal to .navbar height */
  div.navbar-header.header {
    height: 6.5em;
    transition: height .3s ease;
    transition-duration: 0.4s; }
  /* Navbar scroll settings for very small screens*/
  .nav > li > a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  ul.nav.navbar-nav.navbar-right {
    position: relative;
    padding: 1em 0;
    padding-right: 2rem;
    margin: 0 auto; }
  button.navbar-toggle {
    position: absolute;
    top: 10%;
    right: 2%; } }

/* Navbar scroll settings for middle and small screens */

/* Navbar scroll settings for large screens */

@font-face {
  font-family: 'dinregular';
  src: url("../fonts/dinregular.eot");
  src: url("../fonts/dinregular.eot?#iefix") format("embedded-opentype"), url("../fonts/dinregular.woff2") format("woff2"), url("../fonts/dinregular.woff") format("woff"), url("../fonts/dinregular.ttf") format("truetype"), url("../fonts/dinregular.svg#webfontregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Style */
html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

h1, h2 {
  color: #dd5116;
  font-family: dinregular, sans-serif;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

h3 {
  color: #dd5116;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

/* Comment under parts */
p {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  color: #545454; }

/* Links Green */
.plus-info {
  color: #9ac00a;
  font-family: dinregular, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase; }

.plus-info-2 {
  color: #8a8a8a;
  font-family: dinregular, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: all .2s ease-in-out; }

.plus-info-2:hover {
  color: #E6397E;
  text-decoration: none; }

/* Buttons */
.join-button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #dd5116;
  width: 28rem;
  height: 60px;
  color: white;
  border: none;
  transition: all .5s;
  background: linear-gradient(135deg, transparent 6px, #dd5116 0) top left, linear-gradient(315deg, transparent 6px, #dd5116 0) bottom right, linear-gradient(0deg, transparent 0px, #dd5116 0) top right, linear-gradient(0deg, transparent 0px, #dd5116 0) bottom left;
  background-size: 50%;
  background-repeat: no-repeat;
  margin: 1.5em auto; }

.discover-button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #9ac00a;
  width: 28rem;
  height: 60px;
  color: white;
  border: none;
  transition: all .5s;
  background: linear-gradient(135deg, transparent 6px, #9ac00a 0) top left, linear-gradient(315deg, transparent 6px, #9ac00a 0) bottom right, linear-gradient(0deg, transparent 0px, #9ac00a 0) top right, linear-gradient(0deg, transparent 0px, #9ac00a 0) bottom left;
  background-size: 50%;
  background-repeat: no-repeat;
  margin: 1.5em auto; }

.itneo-button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #E6397E;
  width: 34rem;
  height: 60px;
  color: white;
  border: none;
  transition: all .5s;
  background: linear-gradient(135deg, transparent 6px, #E6397E 0) top left, linear-gradient(315deg, transparent 6px, #E6397E 0) bottom right, linear-gradient(0deg, transparent 0px, #E6397E 0) top right, linear-gradient(0deg, transparent 0px, #E6397E 0) bottom left;
  background-size: 50%;
  background-repeat: no-repeat;
  margin: 1.5em auto; }

.index-home {
  margin-top: 15rem; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

@media (max-width: 480px) {
  h1 {
    margin-top: 4em;
    margin-bottom: 10px;
    font-size: 2em; }
  .mrg-top-1 {
    margin-top: 10px; } }

#index-itneo {
  margin: 2% 0; }
  #index-itneo .it-logo {
    width: 65%;
    max-width: 305px;
    height: auto;
    display: block;
    margin: 2rem auto; }
  #index-itneo .itneo-top-case {
    width: 100%;
    text-align: center;
    margin: 0; }
    #index-itneo .itneo-top-case .it-h2 {
      padding: 4rem 0 6rem 0;
      text-align: center; }

.it-ul-box-1 {
  padding: 7% 0; }
  .it-ul-box-1 .it-first-list {
    list-style-type: none;
    padding: 0; }
    .it-ul-box-1 .it-first-list li {
      width: 100%;
      font-family: dinregular, sans-serif;
      font-size: 2.2rem;
      line-height: 1.1em;
      font-weight: 800;
      text-transform: uppercase;
      color: #8a8a8a; }

.it-btn-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem; }

@media (max-width: 767px) {
  .itneo-top-case {
    margin: 0 !important; }
  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0; }
  .it-h2 {
    text-align: center; } }

@media (min-width: 768px) {
  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0; }
  .it-h2 {
    text-align: center; } }

@media (max-width: 1250px) {
  .it-first-list {
    text-align: center;
    padding-top: 2em !important; } }

@media (max-width: 1200px) {
  #index-itneo .it-first-list {
    text-align: center;
    margin: 0; }
  #index-itneo .it-h2 {
    text-align: center; } }

@media (min-width: 1200px) {
  .it-h2 {
    text-align: left; }
  .it-first-list {
    text-align: right; } }

/* Align Media Queries */
@media (max-width: 1400px) {
  #index-itneo .it-logo {
    margin: 1rem auto; }
  #index-itneo .it-ul-box-1 {
    padding-top: 0; }
  #index-itneo .it-first-list {
    margin: 0; } }

/* Align Media Queries */
@media (max-width: 1500px) {
  #index-itneo .it-logo {
    margin: 4rem auto; }
  #index-itneo .it-ul-box-1 {
    padding-top: 3%; }
  #index-itneo .itneo-button {
    width: 80%; } }

#communit {
  background-color: #fdf0eb; }
  #communit .flex-container-1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  #communit .svg-container-1 {
    width: 36rem;
    margin: 6rem 2rem; }
    #communit .svg-container-1 p {
      color: #9ac00a;
      font-family: dinregular, sans-serif;
      text-align: justify;
      display: inline-block;
      width: 80%; }

/**
 * Swiper 3.4.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2017, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: March 10, 2017
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

/* Auto Height */

/* a11y */

/* IE10 Windows Phone 8 Fixes */

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23E6397E'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms;
  transform: translate3d(0, 0, 0);
  z-index: 10; }

/* Common Styles */

/* Bullets */

/* Progress */

/* 3D Container */

/* Coverflow */

/* Cube + Flip */

/* Cube */

/* Fade */

/* Scrollbar */

/* Preloader */

#itneo-slider-block {
  padding: 2rem;
  /* Rewrite to swiper.css */ }
  #itneo-slider-block .itneo-slider .swiper-container {
    background-color: #fff;
    min-width: 26rem;
    max-width: 75rem;
    width: 100%;
    height: 42rem; }
  #itneo-slider-block .itneo-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    #itneo-slider-block .itneo-slider .swiper-slide img {
      width: 100%;
      margin: 0 auto;
      display: block;
      position: absolute;
      z-index: -10; }
  #itneo-slider-block a.plus-info-2 {
    min-width: 26rem;
    max-width: 75rem;
    margin: 0 auto;
    display: block; }
  #itneo-slider-block .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23E6397E'%2F%3E%3C%2Fsvg%3E");
    transition: 0.5s ease-in-out; }
    #itneo-slider-block .swiper-button-prev:hover {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%238A8A8A'%2F%3E%3C%2Fsvg%3E"); }
  #itneo-slider-block .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23E6397E'%2F%3E%3C%2Fsvg%3E");
    transition: 0.5s ease-in-out; }
    #itneo-slider-block .swiper-button-next:hover {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%238A8A8A'%2F%3E%3C%2Fsvg%3E"); }

@media screen and (min-width: 1200px) {
  #itneo-slider-block .swiper-container {
    height: 28rem !important; } }

@media screen and (max-width: 1201px) {
  #itneo-slider-block {
    padding: 0; }
    #itneo-slider-block .swiper-container {
      height: 36rem !important; }
  .it-h2 {
    padding: 2rem 0 3rem 0 !important; } }

@media screen and (max-width: 870px) {
  #itneo-slider-block .swiper-container {
    height: 33rem !important; } }

@media screen and (max-width: 630px) {
  #itneo-slider-block .swiper-container {
    height: 30rem !important; } }

@media screen and (max-width: 540px) {
  #itneo-slider-block .swiper-container {
    height: 25rem !important; } }

@media screen and (max-width: 500px) {
  .swiper-container {
    height: 20rem !important; } }

@media screen and (max-width: 420px) {
  #itneo-slider-block {
    display: none !important; } }

/* FOOTER */
footer {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: auto;
  background-color: #fdf0eb;
  border-top: solid 1px #9ac00a; }
  footer ul {
    list-style-type: none; }
  footer a:hover {
    text-decoration: none; }

#footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#footer-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 70%; }
  #footer-left #footer-left-up {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    -ms-flex-align: center;
    align-items: center; }
  #footer-left #footer-left-join {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center; }
    #footer-left #footer-left-join #hidden-button {
      display: none; }
    #footer-left #footer-left-join #footer-left-join-title {
      padding-left: 2rem; }
      #footer-left #footer-left-join #footer-left-join-title h3 {
        text-align: right;
        line-height: 150%; }
    #footer-left #footer-left-join #footer-left-join-list {
      width: auto;
      padding-left: 3rem; }
      #footer-left #footer-left-join #footer-left-join-list ul {
        list-style-image: url("web/assets/img/puce_xxxs.png"); }
        #footer-left #footer-left-join #footer-left-join-list ul a {
          color: #dd5116; }
        #footer-left #footer-left-join #footer-left-join-list ul a:hover {
          color: #9ac00a; }
        #footer-left #footer-left-join #footer-left-join-list ul h3 {
          text-align: left; }
  #footer-left #footer-left-join-button {
    padding-left: 10rem; }
  #footer-left #footer-left-down {
    margin: 0 auto; }
    #footer-left #footer-left-down a {
      color: #dd5116;
      font-family: dinregular, sans-serif; }
    #footer-left #footer-left-down a:hover {
      color: #9ac00a; }

#footer-right {
  position: relative; }
  #footer-right #footer-right-contact {
    background-color: white;
    border: solid 1px #9ac00a;
    width: 30rem;
    height: 17.5rem;
    z-index: 100;
    position: absolute;
    bottom: 6rem;
    right: 3.8rem; }
    #footer-right #footer-right-contact h3 {
      color: #9ac00a; }
    #footer-right #footer-right-contact p {
      text-align: left; }
  #footer-right #footer-right-triangle-img {
    position: relative; }
    #footer-right #footer-right-triangle-img p {
      position: absolute;
      bottom: 0;
      right: 3.8rem;
      text-align: right;
      color: #545454; }
      #footer-right #footer-right-triangle-img p a {
        color: #545454;
        font-weight: bold; }
      #footer-right #footer-right-triangle-img p #it {
        color: #dd5116; }

/* social icons*/
.centerUL {
  margin: 0;
  padding: 0;
  text-align: center; }

.centerLI li {
  display: inline-block; }

.fa-rotate {
  transition: transform .5s ease-in-out;
  color: #9ac00a;
  font-size: 2rem; }

.fa-rotate:hover {
  transform: rotate(360deg);
  color: #dd5116;
  font-size: 2rem; }

@media screen and (max-width: 1400px) {
  #footer-left #footer-left-join {
    width: 95%; }
    #footer-left #footer-left-join #hidden-button {
      display: block; }
    #footer-left #footer-left-join #footer-left-join-title {
      width: 60%;
      padding-left: 0; }
      #footer-left #footer-left-join #footer-left-join-title h3 {
        text-align: center; }
  #footer-left #footer-left-join-button {
    display: none; } }

@media screen and (max-width: 1024px) {
  #footer-left #footer-left-up {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }
    #footer-left #footer-left-up #footer-left-join {
      -ms-flex-align: center;
      align-items: center; }
      #footer-left #footer-left-up #footer-left-join #footer-left-join-title {
        padding-left: 0.3rem; }
        #footer-left #footer-left-up #footer-left-join #footer-left-join-title h3 {
          margin-top: 0.5rem; }
      #footer-left #footer-left-up #footer-left-join #footer-left-join-list ul {
        margin-bottom: 0; }
        #footer-left #footer-left-up #footer-left-join #footer-left-join-list ul h3 {
          margin-top: 1rem;
          margin-bottom: 1rem;
          text-align: left; }
    #footer-left #footer-left-up #hidden-button {
      display: none; }
  #footer-left #footer-left-join-button {
    display: block;
    padding-left: 1rem; }
    #footer-left #footer-left-join-button .join-button {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
  #footer-right #footer-right-contact {
    width: 27.5rem;
    height: 16rem;
    bottom: 5.5rem;
    right: 3rem; }
  #footer-right #footer-right-triangle-img img {
    width: 40rem; }
  #footer-right #footer-right-triangle-img p {
    right: 3rem; } }

@media screen and (max-width: 920px) {
  #footer {
    -ms-flex-direction: row;
    flex-direction: row; }
  #footer-left {
    width: 50%; }
    #footer-left #footer-left-up {
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center; }
      #footer-left #footer-left-up #footer-left-join {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center; }
        #footer-left #footer-left-up #footer-left-join #footer-left-join-title {
          padding-left: 0;
          padding-right: 0;
          width: 100%; }
          #footer-left #footer-left-up #footer-left-join #footer-left-join-title #hidden-button {
            display: none; }
          #footer-left #footer-left-up #footer-left-join #footer-left-join-title h3 {
            text-align: center !important;
            margin-top: 1rem; }
        #footer-left #footer-left-up #footer-left-join #footer-left-join-list {
          padding-left: 0; }
          #footer-left #footer-left-up #footer-left-join #footer-left-join-list ul {
            padding-left: 0; }
            #footer-left #footer-left-up #footer-left-join #footer-left-join-list ul h3 {
              text-align: left; }
      #footer-left #footer-left-up #footer-left-join-button {
        margin-top: 2rem;
        padding-left: 0; }
        #footer-left #footer-left-up #footer-left-join-button .join-button {
          padding-left: 0; }
    #footer-left #footer-left-down {
      margin: 0 auto;
      padding-bottom: 1rem; }
  #footer-right #footer-right-contact {
    width: 29rem;
    height: 17rem;
    bottom: 6.6rem; }
  #footer-right #footer-right-triangle #footer-right-triangle-img {
    position: relative; }
    #footer-right #footer-right-triangle #footer-right-triangle-img img {
      width: 44rem;
      position: absolute;
      right: 0;
      bottom: -30rem; }
    #footer-right #footer-right-triangle #footer-right-triangle-img p {
      width: 30rem;
      top: 24rem;
      right: 3rem; } }

@media screen and (max-width: 768px) {
  #footer {
    -ms-flex-direction: column;
    flex-direction: column; }
  #footer-left {
    width: 100%; }
    #footer-left #footer-left-up #footer-left-join #footer-left-join-title {
      margin-top: 3rem; }
    #footer-left #footer-left-up #footer-left-join #footer-left-join-list ul h3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-left: 2rem;
      padding-right: 2rem; }
  #footer-right #footer-right-contact {
    width: 28.3rem;
    height: 16.5rem;
    bottom: 6.3rem;
    right: 2rem; }
  #footer-right #footer-right-triangle-img {
    margin-top: 25rem; }
    #footer-right #footer-right-triangle-img img {
      width: 41rem !important;
      bottom: 0 !important; }
    #footer-right #footer-right-triangle-img p {
      top: -5.5rem !important;
      right: 2rem; } }

@media screen and (max-width: 440px) {
  #footer-left #footer-left-down {
    padding-bottom: 10rem; }
  #footer-right #footer-right-contact {
    width: 26rem;
    height: 17rem;
    bottom: 6rem;
    right: 1rem; }
    #footer-right #footer-right-contact ul {
      padding-left: 1rem; }
      #footer-right #footer-right-contact ul p {
        text-align: center; }
  #footer-right #footer-right-triangle-img {
    margin-top: 15rem; }
    #footer-right #footer-right-triangle-img img {
      width: 28rem !important; }
    #footer-right #footer-right-triangle-img p {
      top: 11rem;
      right: 1rem !important;
      font-size: 1.4rem;
      margin: 0 auto; }
      #footer-right #footer-right-triangle-img p span {
        font-size: 1.7rem; } }

.be-inline {
  display: inline-block; }

.mrg-top-1 {
  margin-top: 8rem; }
