<!DOCTYPE html>
<html>
<head>
    {% include '@App/Partials/bo-head.html.twig' %}
</head>
<body>
<header>
    {% include '@App/Partials/bo-sideBar.html.twig' %}
    {% include '@App/Partials/bo-header.html.twig' %}
    {% include '@App/Partials/bo-topBar.html.twig' %}
</header>

<main id="bo-main-content" class="main">
    {% block body %}{% endblock %}
</main>

<footer>
</footer>

{% include '@App/Partials/bo-foot.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
