<!DOCTYPE html>
<html>
<head>
    {% include '@App/Partials/bo-head.html.twig' %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        {% include '@App/Partials/bo-sideBar.html.twig' %}
    </header>

    <section class="main">
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include '@App/Partials/bo-footer.html.twig' %}
        </footer>
    </section>

    {% include '@App/Partials/bo-foot.html.twig' %}
    {% block javascripts %}{% endblock %}
</body>
</html>
