<!DOCTYPE html>
<html>
<head>
    {% include '@App/Partials/bo-head.html.twig' %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        {% include '@App/Partials/bo-sideBar.html.twig' %}
    </header>

    <main class="main">
        {% block body %}{% endblock %}
    </main>

    <footer>
    </footer>

    {% include '@App/Partials/bo-foot.html.twig' %}
    {% block javascripts %}{% endblock %}
</body>
</html>
