<!DOCTYPE html>
<html>
<head>
    {% include '@App/Partials/bo-head.html.twig' %}
</head>
<body>
<header>
    {% include '@App/Partials/bo-sideBar.html.twig' %}

</header>
{% include '@App/Partials/bo-header.html.twig' %}
{% include '@App/Partials/bo-topBar.html.twig' %}
<main id="bo-main-content" class="">

    {% block body %}{% endblock %}

</main>

<footer>
</footer>

{% include '@App/Partials/bo-foot.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
