<!DOCTYPE html>
<html>
    <head>
        {% include '@App/Partials/show-head.html.twig' %}
    </head>
    <body>
        <header id="communit-base">
            {% include '@App/Partials/show-header.html.twig' %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include '@App/Partials/show-footer.html.twig' %}
        </footer>

        {% include '@App/Partials/show-foot.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
