#communit-base {

  /* HEADER */
  .header {
    padding: 0 !important;
    margin: 0 !important;
    font-family: dinregular, Arial, sans-serif; /* font to be set in the main css file*/
  }
  /* removes dotted lines in Firefox browser when links are visited and another link is hovered */
  :focus {outline:none;}
  ::-moz-focus-inner {border:0;}
  /* height of the navbar is adjusted to the visible part of the logo image;
  the height is reduced by scrolling;
  the color of the bootstrap default navbar is changed to white*/
  .navbar {
    height: 11.5em;
    padding-bottom: 30px;
    width: 100%;
    background-color: white !important;
    transition: padding, height .3s ease;
    transition-duration: 0.3s;
  }
  .navbar-default.navbar-brand{
    padding: 0 !important;
    margin: 0 !important;
  }
  /* CommmunIt logo image settings */
  .navbar-brand img {
    width: 22em;
    height: auto;
    padding-left: 0;
    transition: width .1s ease;
    transition-duration: 0.3s;
  }

  a.navbar-brand {
    margin:0;
    padding:0;
  }
  .navbar-default.navbar-brand {
    margin-right: 10px;
    transition: margin .3s ease;
    transition-duration: 0.3s;
  }
  nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse,
  nav.navbar.navbar-default.navbar-fixed-top{
    background-color: white !important;
    width: 100%;
  }
  /* setting links in the middle vertical position */
  div.navbar-header.header {
    height: 100%;
    position: relative;
  }
  ul.nav.navbar-nav.navbar-right {
    position: absolute;
    top: 25%;
    right: 0;
    padding-right: 3em; /* pushes links to the left */

  }
  button.navbar-toggle span {
    background-color: #DD5116 !important;
  }
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a {
    color: #9AC00A;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    color: #DD5116;
  }
  a.link {
    display: block !important;
    text-align: center;
  }

  @media screen and (max-width: 1024px){
    .navbar {
      height: 8em;
    }
    .navbar-brand img {
      width: 16em;
    }
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a {
      font-size: 1.3em;
      padding-right: 0;
    }
    ul.nav.navbar-nav.navbar-right {
      top: 15%;
    }
    #itneo-link{
      padding-left: 0;
    }
  }


  @media screen and (max-width: 768px){
    .navbar {
      height: 6.5em;
      transition:  height .3s ease;
      transition-duration: 0.4s;
    }
    .navbar-brand img {
      width: 13em;
      padding-left: 0;
    }
    /* height of div.navbar-header.header is equal to .navbar height */
    div.navbar-header.header {
      height: 6.5em;
      transition: height .3s ease;
      transition-duration: 0.4s;
    }
    /* Navbar scroll settings for very small screens*/
    .navbar.scroll-small {
      height: 4.8em;
      padding-bottom: 0;
      transition: padding, height .3s ease;
      transition-duration: 0.4s;
    }
    .navbar-brand .scroll-small {
      width: 13em;
      height: auto;
      transition: width .3s ease;
      transition-duration: 0.4s;
    }
    div.navbar-header.header.scroll-small {
      height: 4.8em;
      transition: height .3s ease;
      transition-duration: 0.4s;
    }
    .navbar-default .navbar-brand.scroll-small{
      margin-right: 0;
      font-size: 1em;
      transition: margin, font-size .3s ease;
      transition-duration: 0.4s;
    }
    div.navbar-collapse.navbar-ex1-collapse.collapse.in {
      background-color: white;
      overflow: hidden;
      border-bottom: solid 1px rgb(231, 231, 231);
      border-top: none !important;
    }
    .nav >li >a {
      padding: 1rem 0;
      text-align: center;
    }
    ul.nav.navbar-nav.navbar-right {
      position: relative;
      padding: 1em 0 2rem 0;
      margin: 0 auto;
    }
    button.navbar-toggle {
      position:absolute;
      top: 10%;
      right: 2%;
    }
  }

  /* Navbar scroll settings for middle and small screens */
  @media screen and (min-width: 768px) and (max-width: 1024px){
    .navbar.scroll-midd {
      height: 4.99em;
      padding-bottom: 0;
      transition: padding, height .3s ease;
      transition-duration: 0.4s;
    }
    .navbar-brand .scroll-midd {
      width: 14em;
      height: auto;
      padding-left: 0;
      transition: width, padding .2s ease;
      transition-duration: 0.4s;
    }
    .navbar-default .navbar-brand.scroll-midd {
      margin-right: 0;
      font-size: 1em;
      transition: margin, font-size .3s ease;
      transition-duration: 0.4s;
    }
  }
  /* Navbar scroll settings for large screens */
  @media screen and (min-width: 1024px){
    .navbar.scroll {
      height: 7em;
      padding-bottom: 10px;
      transition: padding, height .3s ease;
      transition-duration: 0.3s;
    }
    .navbar-brand .scroll {
      width: 15em;
      height: auto;
      padding-left: 0;
      transition: width, padding .2s ease;
      transition-duration: 0.3s;
    }
    .navbar-default .navbar-brand.scroll {
      margin-right: 0;
      transition: margin .3s ease;
      transition-duration: 0.3s;
    }
  }
}
