/* FOOTER */
footer {
  #footer-line {
    background-color: $background-color1;
    border-top: solid 1px $primary-color;
    display: flex;
  }
  #footer-left {
    width: 65%;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      margin: 2.2rem 0 2.2rem 0;
      //border: solid red 2px;
      li {
        //border: solid black 2px;
        text-align: left;
      }
      a {
        color: $secondary-color;
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: dinregular, sans-serif;
      }
      a:hover {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  #footer-left-up {
    ul {
      list-style-image: url("../../img/puce_xxxs.png");
      // margin: 0;
      // padding: 0;
    }
  }
  #footer-left-down {
    ul {
      //margin: 0;
      padding: 0;
    }
  }
  #footer-right {
    position: relative;
    #footer-right-contact {
      background-color: white;
      border: solid 1px $primary-color;
      width: 30rem;
      height: 14rem;
      position: absolute;
      bottom: 5.1rem;
      right: 5.1rem;
      text-align: center;
      a {
        color: $secondary-color;
        font-family: $primary-font;
        font-weight: bold;
        font-size: 2rem;
      }
      a:hover {
        color: $primary-color;
      }
    }
    #footer-right-triangle-img {
      overflow-x:hidden;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 44rem;
      p {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        color: $paragraph-color;
        a {
          color: whitesmoke;
          font-weight: bold;
        }
        #it {
          color: $secondary-color;
        }
      }
    }
  }
  /* social icons*/
  .centerUL {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .centerLI li {
    display: inline-block;
    padding: 1rem 1rem 0 1rem;
  }
  .fa-rotate {
    transition: -webkit-transform .5s ease-in-out;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    color: rgb(154, 192, 10);
    font-size: 2rem;
  }
  .fa-rotate:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: rgb(221, 81, 22);
    font-size: 2rem;
  }

  @media screen and (max-width: 1024px) {
    #footer-left {
      width: 60%;
      #footer-left-up {
        ul {
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 2.5rem 0;
        }
      }
      #footer-left-down {
        ul {
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 2.5rem 4.5rem 2rem 4.5rem;
        }
      }
    }

    #footer-right {
      #footer-right-contact {
        width: 20rem;
        height: 10rem;
        bottom: 7rem;
        right: 2rem;
        h3 {
          margin: 1rem 0 0 0;
        }
        .centerLI li {
          padding: 0 1rem;
        }
      }
      #footer-right-triangle-img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 34rem;
      }
      p {
        width: 80%
      }
    }
  }

  @media screen and (max-width: 920px) {
    #footer-left {

      #footer-left-up {
        ul {
          //margin: 1.5rem 0;
        }
      }
      #footer-left-down {
        ul {
          margin: 0 4.5rem 0 4.5rem;
          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    #footer-left {
      #footer-left-up {
        ul {
          margin: 0.8rem 0 0 0;
        }
      }
      #footer-left-down {
        ul {
          margin: 0.8rem 0 0 4.5rem;
        }
      }
    }
    #footer-right {
      #footer-right-contact {
        width: 15rem;
        height: 9rem;
        bottom: 4rem;
        h3 {
          display: none;
        }
        .centerLI li {
          padding: 0;
        }
      }
      #footer-right-triangle-img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24rem;
      }
      p {
        width: 70%;
        font-size: 1.1rem;
      }
    }
  }

  @media screen and (max-width: 500px) {

    #footer-left {
      width: 60%;
      #footer-left-up {
        ul {
          margin: 0.9rem 0 0 0;
        }
        a {
          font-size: 1.2rem;
        }
      }
      #footer-left-down {
        ul {
          margin: 0.9rem 0 0 4.5rem;
        }
      }
    }
    #footer-right {
      #footer-right-contact {
        width: 13rem;
        height: 7rem;
        right: 1rem;
        bottom: 1rem;
        h3 {
          display: none;
        }
        .centerLI li {
          padding: 0;
        }
      }
      #footer-right-triangle-img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15.5rem;
      }
      p {
        display: none
      }
    }
  }
}
