{% extends '@App/back_office_base.html.twig' %}

{% block title %}
    Nouvelle évolution
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="bo-title-page col-lg-12">
                <h2>Nouvelle évolutions</h2>
            </div>
        </div>

        <div class="row">
            {{ form(form) }}
        </div>

    </div>

{% endblock %}