<div class="buttons-block">
    <a href="{{ path('evolutionAdd') }}"
       class="simple-btn-1">Ajouter une nouvelle évolution</a>

    <div class="btn-group-right">
        <a href="{{ path('evolutionUser') }}"
           class="simple-btn-1">Voir mes évolutions</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('evolutionWaiting') }}"
               class="simple-btn-1">Voir les évolutions en attente</a>
        {% endif %}
    </div>
</div>