{% extends '@App/backoffice-base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        {{ dump(evolution) }}
        {{ dump(comments) }}
        {{ dump(notes) }}

        <div class="row">
            <div class="bo-title-page col-lg-12">
            </div>
        </div>

        <div class="row">
        </div>

    </div>

{% endblock %}