@font-face {
  font-family: 'dinregular';
    src: url('../fonts/dinregular.eot');
    src: url('../fonts/dinregular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dinregular.woff2') format('woff2'),
    url('../fonts/dinregular.woff') format('woff'),
    url('../fonts/dinregular.ttf') format('truetype'),
    url('../fonts/dinregular.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Style */
html, body {
  margin: 0;
  padding: 0;
}
h1, h2 {
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  color: $secondary-color;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase ;
  text-align:center;
}
/* Comment under parts */
p {
  font-size : 1.6rem;
  font-family: $secondary-font;
  color: $paragraph-color;
}
.p2 {
  font-size: 1.2rem;
  font-family: $secondary-font;
  font-weight: bold;
  text-align: justify;
  color: $paragraph-color;
}

/* Links Green */
.plus-info {
  @include itBoldLink($primary-color, 1.4rem);
}
/* Buttons */
.join-button {
  @include itButton($secondary-color, 28rem);
}
.discover-button {
  @include itButton($primary-color, 28rem);
}
.itneo-button {
  @include itButton($it-color, 28em);
}