#index-itneo {
  margin: 5% 0;

  .itneo-top-case {
    width: 100%;
    text-align: center;
    margin-left: 5%;

    .it-logo {
      width: 290px;
      height: 160px;
      position: relative;
      padding: 0.1em 1em;
      top: -3.9em;
    }

    .it-h2 {
      font-family: Arial, sans-serif;
      font-size: 3.5em;
      font-weight: 700;
      color: $secondary-color;
      text-transform: uppercase;
    }
  }
}
.it-first-list {
  /*margin-top: 8em;*/
  list-style-type: none;
  padding: 0;

  li {
    width: 100%;
    font-family: $first-font;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: 800;
    text-transform: uppercase;
    color: $secondary-color;

  }
}

.it-btn-group {
  text-align: center;
  margin-top: 30%;

  .btn-itneo {
    @include itButton($it-color, 90%);
  }
  .btn-joinus {
    @include itButton($secondary-color, 70%);
  }
}
.BORDER01{
  border: solid red 3px;
}
.BORDER02{
  border: solid blue 3px;
  display: flex; /* contexte sur le parent */
  align-items: center;
  justify-content: center; /* alignement vertical */
}
.BORDER03{
  border: solid green 3px;

}
.BORDER04{
  border: solid black 3px;
}
.BORDER05{
  border: solid yellow 3px;
}

