@media(max-width:767px){
  #index-itneo {
    margin: 10% 0;
  }
  .it-btn-group {
    margin-top: 2.5em!important;
  }
  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0;
  }
  .it-h2 {
    text-align: center;
  }
}

@media(min-width:768px){
  #index-itneo {
    margin: 10% 0;
  }
  .it-btn-group {
    margin-top: 2.5em;
  }
  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0;
  }
  .it-h2 {
    text-align: center;
  }
}

@media(min-width:992px) and (max-width:1200px){
  #index-itneo {
    margin: 10% 0;
  }
  .it-btn-group {
    margin-top: 2.5em;
  }
  .it-first-list {
    text-align: center;
    margin: 2em 0 5em 0;
  }
  .itneo-top-case {
    margin-left: 0!important;
  }
  .it-h2 {
    text-align: center;
  }
}

@media(min-width:1200px){
  .it-h2 {
    text-align: left;
  }
  .it-first-list {
    text-align: right;
    margin: 2em 0 5em 0;
  }
}